GisGkhLibrary/Connected Services/RapServiceAsync/hcs-rap-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:account-base="http://dom.gosuslugi.ru/schema/integration/account-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/rap/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:individual-registry-base="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:bills-base="http://dom.gosuslugi.ru/schema/integration/bills-base/" xmlns:metering-device-base="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/rap/" version="13.0.0.10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" />
  <xs:import schemaLocation="../lib/hcs-individual-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" />
  <xs:simpleType name="LimitedDateType">
    <xs:annotation>
      <xs:documentation>????????, ?? ?????????????????????????? ???? 01.01.1992 ???? 31.12.2030</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date">
      <xs:minInclusive value="1992-01-01" />
      <xs:maxInclusive value="2030-12-31" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FineType">
    <xs:annotation>
      <xs:documentation>???????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="99999999.99" />
      <xs:totalDigits value="10" />
      <xs:fractionDigits value="2" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DecreeStatusType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????????????? ?? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Published" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Annulled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DecreeInfoType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Offender">
        <xs:annotation>
          <xs:documentation>??????????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>?????????????????????? ???????? / ???????????????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:element name="Organization" type="organizations-registry-base:RegOrgType">
                <xs:annotation>
                  <xs:documentation>??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="OfficialName">
                <xs:annotation>
                  <xs:documentation>?????????????????????? ????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:DecreeIndType">
                      <xs:sequence>
                        <xs:element name="Position">
                          <xs:annotation>
                            <xs:documentation>??????????????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="base:String300Type">
                              <xs:minLength value="1" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlRoleCode" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ???????? ???????????????????????? ???? ???????????????? ???????????????? (?????? 270)           (???????? ???????????????? ?? ?????????????????????? ?????? ???????????????????? ???????????? ?????? ?????????????????????? ???????????????????????? ?? ???????????????? ?????? ?????? "?????? ???????????????? ???? ???? ?????????????????????????? ??????????????")</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element name="Person" type="tns:DecreeIndType">
              <xs:annotation>
                <xs:documentation>???????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReviewResult">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????????? ???????? ???? ???????????????????????????????? ????????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultKind" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ???????????????????? ???? ???????? ???? ???????????????????????????????? ???????????????????????????? (??????-227)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DecreeDocument" type="tns:ProceduralDocumentType">
              <xs:annotation>
                <xs:documentation>??????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="100" name="PunishmentKind" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ?????????????????????????????????? ?????????????????? (??????-225). ?????????????????????? ?????? ????????????????????, ???????? ?? tns:ResultKind ?????????????? ?????????????????????? ?????????????????????????????????? ????????????????????.

?????? ??????????????????????:
-???????????????????????????????? ??????????;
-????????????????????????????;
-???????????????????????????????? ?????????????????????????????? ????????????????????????.

?????? ???????????????????? ??????:
-???????????????????????????????? ??????????;
-????????????????????????????;
-??????????????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TakingDecisionAuthority" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>??????????, ?????????????? ???????????????? ?????????????? ???? ???????? ???? ???????????????????????????????? ???????????????????????????? (?????? 332)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TakingDecisionAuthorityName">
              <xs:annotation>
                <xs:documentation>???????????????? ????????????, ???????????????????? ?????????????? ?? ???????????????????? ?????? ?????????????????????????????????? ??????????????????????. ???? ??????????????????????, ???????? ?? tns:TakingDecisionAuthority ?????????????? ???????????????? "??????????????????????, ???????????????????????? ??????????????????????????"</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0" />
                  <xs:maxLength value="2500" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PositionOfAcceptedPerson">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????, ???????????????????? ???????????????? ?? ???????????????????? ?????????????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="base:String100Type">
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="100" name="ViolationObject" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????????????? (??????-229)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ProceedingDate" type="tns:LimitedDateType">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ?? ???????????????????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Fine" type="tns:FineType">
              <xs:annotation>
                <xs:documentation>???????????? ???????????? (???????????????? ?????? ???????????????? ???????? ?????????????????????????????????? ?????????????????? "???????????????????????????????? ??????????"; ?????????? - ???? ??????????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FinePaymentDate" type="tns:LimitedDateType">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ???????????? (?????????? ?????????????????????? ????????????, ???????? ?? ???????? ?? tns:Executed ?????????????? true (??????????????????)       ?? ?? ???????? PunishmentKind ???????????? "???????????????????????????????? ??????????" ?? ???????? Fine ??????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DisqualificationPeriod">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? (???????????????? ?? ????????????????????, ???????? ?????? ?????????????????????????????????? ?????????????????? = "??????????????????????????????")</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Months">
                    <xs:annotation>
                      <xs:documentation>??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Years">
                    <xs:annotation>
                      <xs:documentation>??????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AdministrativeSuspensionPeriod">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? ???????????????????????? (???????????????? ?? ????????????????????, ???????? ?????? ?????????????????????????????????? ?????????????????? = "???????????????????????????????? ?????????????????????????????? ????????????????????????")</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Months">
                    <xs:annotation>
                      <xs:documentation>??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Years">
                    <xs:annotation>
                      <xs:documentation>??????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ViolationShortDescription" type="base:String500Type">
              <xs:annotation>
                <xs:documentation>?????????????? ???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TakenAction" type="base:String1500Type">
              <xs:annotation>
                <xs:documentation>????????, ???????????????? ?????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Executed" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????????????????? ???? ???????????????????? (true - ??????????????????; false - ???? ??????????????????; ?????? ???????????????????????? ?????????????????????????????? ???????????????? ???? ?????????????????? - ???? ??????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportAttachmentType">
    <xs:annotation>
      <xs:documentation>????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Name">
        <xs:annotation>
          <xs:documentation>???????????????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Description">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Attachment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AttachmentGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ???????????????????????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AttachmentHASH">
        <xs:annotation>
          <xs:documentation>??????-?????? ???????????????? ???? ?????????????????? ???????? ?? binhex</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProceduralDocumentType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentKind" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????????????? ?????????????????? (??????-226).

???????????? ?????????????????????????????? ?????????????????? ?????????????????????????????? ?????????????????? (??????-228).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentName">
        <xs:annotation>
          <xs:documentation> ?????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="base:String300Type">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DocumentNumber">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="base:String100Type">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DocumentDate" type="tns:LimitedDateType">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Executed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????????????? ???? ???????????????????? (true - ??????????????????; false - ???? ??????????????????; ?????? ???????????????????????? ?????????????????????????????? ???????????????? ???? ?????????????????? - ???? ??????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="100" name="Document" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>????????????????-????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeReasonType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????? ?????????????????? ?? ???????????????????? (??????-271)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChangeBaseDocument" type="tns:ProceduralDocumentType">
        <xs:annotation>
          <xs:documentation>????????????????-?????????????????? ?????? ???????????????? ?????????????????? ????????: ????????????????, ?????????????????? (??????????????????????????, ???????? ?????????????????? - ???? ?????????? ?? ?????????????? ???????????? ?????? ?????? ?????????????? ????????????????????; ?????????? - ??????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChangeShortDescription" type="base:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????? ?????????????????? ???????????????? (?????????????????????????? ????????????, ???????? ?????????????????? ???????????????? ?????????????????? - ???? ?????????? ?? ?????????????? ????????????; ?????????? - ??????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelReasonType">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????? ?????????????????? ?????? ???????????? ???????????????????? (??????-271)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelBaseDocument" type="tns:ProceduralDocumentType">
        <xs:annotation>
          <xs:documentation>????????????????-?????????????????? ?????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelShortDescription">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????? ???????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="base:String2000Type">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecreeIndType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???????? </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FirstName">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Patronymic">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportDecreeType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ?????????????????????????? ?? ???????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecreeGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RegistryNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ControlOrganization">
        <xs:annotation>
          <xs:documentation>??????????????????????, ?????????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:RegOrgType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="DecreeInfo" type="tns:ExportDecreeInfoType">
        <xs:annotation>
          <xs:documentation>???????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1000" name="ProceduralDocuments">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ExportProceduralDocumentType">
              <xs:sequence>
                <xs:element name="ProceduralDocumentGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ?????????????????????????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="tns:DecreeStatusType">
        <xs:annotation>
          <xs:documentation>???????????? ?? ?????? ??????
???????????????????? ????????????????:
Published- ?????????????????? ?? ?????? ??????.           Cancelled-???????????????? Annulled-????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChangeReason" type="tns:ExportChangeReasonType">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????????? ???????????????????? ?????????????????????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CancelReason" type="tns:ExportCancelReasonType">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportDecreeInfoType">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Offender">
        <xs:annotation>
          <xs:documentation>??????????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>?????????????????????? ???????? / ???????????????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="0" name="Organization" type="organizations-registry-base:RegOrgType">
                <xs:annotation>
                  <xs:documentation>??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="OfficialName">
                <xs:annotation>
                  <xs:documentation>???????????? ???????????????????????? ????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:DecreeIndType">
                      <xs:sequence>
                        <xs:element name="Position" type="base:String300Type">
                          <xs:annotation>
                            <xs:documentation>??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlRoleCode" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ???????? ???????????????????????? ???? ???????????????? ???????????????? (?????? 270) (?????????????????????? ???????????? ?????? ?????? "?????? ???????????????? ???? ???? ?????????????????????????? ??????????????")</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element name="Person" type="tns:DecreeIndType">
              <xs:annotation>
                <xs:documentation>???????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReviewResult">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????????? ???????? ???? ???????????????????????????????? ????????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultKind" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ???????????????????? ???? ???????? ???? ???????????????????????????????? ???????????????????????????? (??????-227)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DecreeDocument" type="tns:ExportProceduralDocumentType">
              <xs:annotation>
                <xs:documentation>??????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="PunishmentKind" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ?????????????????????????????????? ?????????????????? (??????-225)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TakingDecisionAuthority" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>??????????, ?????????????? ???????????????? ?????????????? ???? ???????? ???? ???????????????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TakingDecisionAuthorityName">
              <xs:annotation>
                <xs:documentation>???????????????? ????????????, ???????????????????? ?????????????? ?? ???????????????????? ?????? ?????????????????????????????????? ??????????????????????. </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="0" />
                  <xs:maxLength value="2500" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PositionOfAcceptedPerson" type="base:String100Type">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????, ???????????????????? ???????????????? ?? ???????????????????? ?????????????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Fine" type="tns:FineType">
              <xs:annotation>
                <xs:documentation>???????????? ???????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FinePaymentDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ???????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DisqualificationPeriod">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Months">
                    <xs:annotation>
                      <xs:documentation>??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Years">
                    <xs:annotation>
                      <xs:documentation>??????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AdministrativeSuspensionPeriod">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Months">
                    <xs:annotation>
                      <xs:documentation>??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Years">
                    <xs:annotation>
                      <xs:documentation>??????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minExclusive value="0" />
                        <xs:maxExclusive value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="ViolationObject" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????????????? (??????-229)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ProceedingDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ?? ???????????????????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ViolationShortDescription" type="base:String500Type">
              <xs:annotation>
                <xs:documentation>?????????????? ???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TakenAction" type="base:String1500Type">
              <xs:annotation>
                <xs:documentation>????????, ???????????????? ?????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Executed" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????????????????? ???? ???????????????????? (true - ??????????????????; falce - ???? ??????????????????; ?????? ???????????????????????? ?????????????????????????????? ???????????????? ???? ?????????????????? - ???? ??????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportProceduralDocumentType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ???????????????? (??????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentKind" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????????????? ?????????????????? (??????-226). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentName" type="base:String300Type">
        <xs:annotation>
          <xs:documentation> ?????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="base:String100Type">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Executed" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????????????? ???? ???????????????????? (true - ??????????????????; false - ???? ??????????????????; ?????? ???????????????????????? ?????????????????????????????? ???????????????? ???? ?????????????????? - ???? ??????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="100" name="Document" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>????????????????-????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportChangeReasonType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?????????????????????????? (??????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????? ?????????????????? ?? ???????????????????? (??????-271)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChangeBaseDocument" type="tns:ExportProceduralDocumentType">
        <xs:annotation>
          <xs:documentation>????????????????-?????????????????? ?????? ???????????????? ?????????????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChangeShortDescription" type="base:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????? ?????????????????? ???????????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportCancelReasonType">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????? ?????????????????????????? (??????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????? ?????????????????? ?????? ???????????? ???????????????????? (??????-271)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelBaseDocument" type="tns:ExportProceduralDocumentType">
        <xs:annotation>
          <xs:documentation>????????????????-?????????????????? ?????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelShortDescription" type="base:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????? ???????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportDecreesAndDocumentsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????????????? ?? ???????????????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="importDecreesAndDocuments">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?? ???????????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element name="TransportGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>???????????????????????? ?????????????????????????? ?????? ???????????????????? ???????????????? ?? ????????????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="DecreeGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ?? ?????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:choice>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="Decree">
                        <xs:annotation>
                          <xs:documentation>????????????????, ?????????????????? ??????????????????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="DecreeInfo">
                              <xs:annotation>
                                <xs:documentation>???????????? ??????????????????????????</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:complexContent mixed="false">
                                  <xs:extension base="tns:DecreeInfoType" />
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" name="ChangeReason" type="tns:ChangeReasonType">
                        <xs:annotation>
                          <xs:documentation>?????????????? ?????????????????? ???????????????? (???? ?????????????????????? ?????? ???????????????? "???????????????????? ??????????????????????????" ?? "???????????????????? ?????????????????????????????? ??????????????????")</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="100" name="ImportProceduralDocuments">
                        <xs:annotation>
                          <xs:documentation>???????????? ???????????????????????????? ??????????????????.    ???????????????? ?????? ???????????????? ???????? ????????????????????: ??????????????????????????, ????????????????, ?????????????????????????? ???????????????? ??????, ???????????? ????????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:sequence>
                              <xs:element name="TransportGuid" type="base:GUIDType">
                                <xs:annotation>
                                  <xs:documentation>???????????????????????? ?????????????????????????? ?????? ???????????????????? ???????????????? ?? ???????????????????????????? ????????????????????</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element minOccurs="0" name="ProceduralDocumentGUID" type="base:GUIDType">
                                <xs:annotation>
                                  <xs:documentation>?????????????????????????? ?????????????????????????????? ?????????????????? ?? ?????? ?????? (???????????????????? ?????? ??????????????????/????????????????  ?????????????????????????? ??????????????????)</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                            <xs:choice>
                              <xs:element name="ProceduralDocument" type="tns:ProceduralDocumentType">
                                <xs:annotation>
                                  <xs:documentation>???????????????????? / ?????????????????? ?????????????????????????????? ??????????????????</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element fixed="true" name="DeleteProceduralDocument" type="xs:boolean">
                                <xs:annotation>
                                  <xs:documentation>???????????????? ?????????????????????????????? ??????????????????</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                        <xs:key name="ProceduralDocumentGUID_Key">
                          <xs:annotation>
                            <xs:documentation>???????????????? ???????????????????????? ???????????????????????????? ?????????????????? ?? ???????????? ??????????????</xs:documentation>
                          </xs:annotation>
                          <xs:selector xpath=".//tns:ProceduralDocumentGUID" />
                          <xs:field xpath="." />
                        </xs:key>
                      </xs:element>
                    </xs:sequence>
                    <xs:element name="CancelDecree">
                      <xs:annotation>
                        <xs:documentation>???????????? ??????????????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CancelReason" type="tns:CancelReasonType">
                            <xs:annotation>
                              <xs:documentation>?????????????? ???????????? ????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element fixed="true" name="AnnulDecree" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ??????????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.10.0.5" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:unique name="importDecreeRequest_TransportGUIDUnique">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ?????????????????????????? ???????????????????????????? ?? ???????????? ??????????????</xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//tns:TransportGuid" />
      <xs:field xpath="." />
    </xs:unique>
    <xs:unique name="importDecreeRequest_DecreeGUID">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ?????????????????? ???????????????????????????? ?????????????????????????? ?? ???????????? ??????????????</xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//tns:DecreeGuid" />
      <xs:field xpath="." />
    </xs:unique>
  </xs:element>
  <xs:element name="ExportDecreesAndDocumentsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?????????????????????????? ?? ???????????????????????????? ????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="1000" name="DecreeGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????????? ?? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:sequence>
              <xs:element name="ProceedingDateFrom" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ?????????????????????? ?? ???????????????????????????????? ?????????????????????????????? ??</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="ProceedingDateTo" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ?????????????????????? ?? ???????????????????????????????? ?????????????????????????????? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:choice>
          <xs:attribute fixed="11.10.0.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="CommonResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="ExportDecreesAndDocuments" type="tns:ExportDecreeType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ?????????????????????????? ?? ???????????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="11.10.0.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>