Bars.GisIntegration.Base/Service References/HouseManagementAsync/hcs-metering-device-base1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" version="11.0.0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:simpleType name="MeteringDeviceGUIDType">
    <xs:annotation>
      <xs:documentation>Идентификатор ПУ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="base:GUIDType" />
  </xs:simpleType>
  <xs:simpleType name="MeteringValueType">
    <xs:annotation>
      <xs:documentation>Показание ПУ. Значение (15 до запятой, 7 после)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="7" />
      <xs:maxInclusive value="999999999999999.9999999" />
      <xs:minInclusive value="0" />
      <xs:pattern value="\d+\.\d{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OneRateMeteringValueType">
    <xs:annotation>
      <xs:documentation>Показания по ПУ тепловой энергии, газа, горячей воды, холодной воды, сточных бытовых вод</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MunicipalResource" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>Коммунальный ресурс (тепловая энергия, газ, горячая вода, холодная вода, сточные бытовые воды)  (НСИ 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeteringValue" type="tns:MeteringValueType">
        <xs:annotation>
          <xs:documentation>Значение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReadingsSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Кем внесено (заполняется только при экспорте)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElectricMeteringValueType">
    <xs:annotation>
      <xs:documentation>Показания по ПУ электрической энергии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeteringValueT1" type="tns:MeteringValueType">
        <xs:annotation>
          <xs:documentation>Показания по тарифу T1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeteringValueT2" type="tns:MeteringValueType">
        <xs:annotation>
          <xs:documentation>Показания по тарифу T2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeteringValueT3" type="tns:MeteringValueType">
        <xs:annotation>
          <xs:documentation>Показания по тарифу T3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReadingsSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Кем внесено (заполняется только при экспорте)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>