GisGkhLibrary/Connected Services/LicenseServiceAsync/hcs-licenses-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/licenses/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:individual-registry-base="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/licenses/" version="12.2.3.8" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-individual-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" />
  <xs:element name="exportLicenseRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????????? ?? ?????????????????? ???? ???????????????????? ???????????????????????????????? ???????????? (???????????? ???????????????? ???????????????? ????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="LicenseNumber">
              <xs:annotation>
                <xs:documentation>?????????? ????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="\d{9}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="LicenseOrganization">
              <xs:annotation>
                <xs:documentation>??????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:element name="OGRN" type="organizations-base:OGRNType">
                      <xs:annotation>
                        <xs:documentation>????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="OGRNIP" type="organizations-base:OGRNIPType">
                      <xs:annotation>
                        <xs:documentation>????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:element minOccurs="0" name="Region" type="base:RegionType">
                    <xs:annotation>
                      <xs:documentation>?????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportLicenseResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???????????????????? ?? ?????????????????? ???? ???????????????????? ???????????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LicenseType">
        <xs:sequence>
          <xs:element name="LicenseGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ???????????????? ?? ??????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LicenseVersion" type="xs:nonNegativeInteger">
            <xs:annotation>
              <xs:documentation>???????????? ????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="exportDisqualifiedPersonRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ?? ???????????????????????????????????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="10" name="DisqualifiedPerson">
              <xs:annotation>
                <xs:documentation>???????????????????? ?? ???????????????????????????????????????? ????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FIO" type="individual-registry-base:FIOType">
                    <xs:annotation>
                      <xs:documentation>??????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="DateOfBirth" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="BirthPlace" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>?????????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="LicenseNumber">
                    <xs:annotation>
                      <xs:documentation>?????????? ????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="\d{9}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="LicenseOrganization">
                    <xs:annotation>
                      <xs:documentation>??????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:choice>
                        <xs:element name="OGRN" type="organizations-base:OGRNType">
                          <xs:annotation>
                            <xs:documentation>????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="OGRNIP" type="organizations-base:OGRNIPType">
                          <xs:annotation>
                            <xs:documentation>????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="License" type="tns:exportLicenseResultType" />
            <xs:element maxOccurs="unbounded" name="DisqualifiedPersonResult" type="tns:DisqualifiedPersonType" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LicenseType">
    <xs:annotation>
      <xs:documentation>????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LicenseNumber">
        <xs:annotation>
          <xs:documentation>?????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{9}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LicenseRegDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseStatus">
        <xs:annotation>
          <xs:documentation>???????????? ????????????????:    
    A - ACTIVE - ???????????????? ?? ????????????, ??????????????????????
    F - FINISHED - ???????????????? ?? ????????????, ???????????????? ???????????????????? ?? ?????????????????????? ???? ???????? ?????????????????? ???????????????? ????????????????
    C - CANCELED - ????????????????????????
    R - REJECTED - ???????????????? ?? ?????????????????????? ???? ??????????????????
    I - INACTIVE - ???? ???????????????? ?? ????????????, ???? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A" />
            <xs:enumeration value="F" />
            <xs:enumeration value="C" />
            <xs:enumeration value="R" />
            <xs:enumeration value="I" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LicensingAuthority">
        <xs:annotation>
          <xs:documentation>???????????????????????? ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:LegalType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="RegionFIASGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????? ???????????????????????????? ???????? ???????????????????????? (?????? ???? ????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicensableTypeOfActivity" type="base:LongTextType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????? ???????????????????????? ?? ?????????????????? ?????????????????????? ??????????, ?????????????????????? ??????????, ???????????????????????? ?????????????????????????? ?????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInformation" type="base:LongTextType">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseOrganization" type="tns:LicenseOrganizationType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="AccompanyingDocument">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:AccompanyingDocumentType">
              <xs:sequence>
                <xs:element name="DateFrom" type="xs:date">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????????????? ?????????????????? ?? ????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="DocumentStatus">
                  <xs:annotation>
                    <xs:documentation>???????????? ??????????????????:    
     A - ACTIVE - ??????????????????????
     C - CANCELED - ??????????????
    P - PROJECT - 
????????????</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="A" />
                      <xs:enumeration value="C" />
                      <xs:enumeration value="P" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" type="tns:HouseType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorrectLicenseType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element name="LicenseGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ???????????????? ?? ??????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LicenseVersion" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>???????????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LicenseNumber">
          <xs:annotation>
            <xs:documentation>?????????? ????????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{9}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="LicenseRegDate" type="xs:date">
          <xs:annotation>
            <xs:documentation>???????? ?????????????????????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="LicenseStatus">
        <xs:annotation>
          <xs:documentation>???????????? ????????????????:    
    A - ACTIVE - ???????????????? ?? ????????????, ??????????????????????
    F - FINISHED - ???????????????? ?? ????????????, ???????????????? ???????????????????? ?? ?????????????????????? ???? ???????? ?????????????????? ???????????????? ????????????????
    C - CANCELED - ????????????????????????
    R - REJECTED - ???????????????? ?? ?????????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="A" />
            <xs:pattern value="F" />
            <xs:pattern value="C" />
            <xs:pattern value="R" />
            <xs:enumeration value="A" />
            <xs:enumeration value="F" />
            <xs:enumeration value="C" />
            <xs:enumeration value="R" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LicensingAuthority">
        <xs:annotation>
          <xs:documentation>???????????????????????? ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:LegalType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="RegionFIASGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????? ???????????????????????????? ???????? ???????????????????????? (?????? ???? ????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Region" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????? ???????????????????????????? ???????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicensableTypeOfActivity" type="base:LongTextType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????? ???????????????????????? ?? ?????????????????? ?????????????????????? ??????????, ?????????????????????? ??????????, ???????????????????????? ?????????????????????????? ?????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInformation" type="base:LongTextType">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="AccompanyingDocument">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:AccompanyingDocumentType">
              <xs:sequence>
                <xs:element name="DateFrom" type="xs:date">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????????????? ?????????????????? ?? ????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="DocumentStatus">
                  <xs:annotation>
                    <xs:documentation>???????????? ??????????????????:    
     A - ACTIVE - ??????????????????????
     C - CANCELED - ??????????????</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="A" />
                      <xs:enumeration value="C" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" type="tns:HouseType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseOrganizationType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Legal">
        <xs:annotation>
          <xs:documentation>?????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:LegalType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrp">
        <xs:annotation>
          <xs:documentation>????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:EntpsType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccompanyingDocumentType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DocType" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RegDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ?? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DecisionOrg">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????????, ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="organizations-registry-base:LegalType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Name" type="xs:string">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Number" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DocumentStatus">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????:    
    A - ACTIVE - ????????????????????????
    C - CANCELED - ??????????????
    P - PROJECT - 
????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="A" />
                  <xs:enumeration value="C" />
                  <xs:enumeration value="P" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BaseDocument">
        <xs:annotation>
          <xs:documentation>?????????????????? ??????????????????, ?????????????????????? ???????????????????? ?????? ???????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="BaseDocType" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????????????? (?????? ???????????????????????? ??????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="BaseDocDecisionOrg" type="xs:string">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????????, ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="BaseDocName" type="xs:string">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="BaseDocNumber" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="BaseDocDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????????????? ?? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="AdditionalInfo" type="base:LongTextType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIASHouseGUID" type="premises-base:FIASHouseGUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseAddress" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Contract">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????? ????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ContractGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ???? ?? ?????? ?????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DocNum">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????? ???? ???? ???? ????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="base:LongTextType">
                  <xs:maxLength value="255" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SigningDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????????????? ???????????????? ???? ???? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Org" type="organizations-registry-base:RegOrgType">
              <xs:annotation>
                <xs:documentation>?????????????????????? ?????????????????????? ???? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EffectiveDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????????????? ?? ???????? ???? ???? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PlanDateComptetion" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????????????????? ???????? ?????????????????? ???? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Validity">
              <xs:annotation>
                <xs:documentation>???????? ???????????????? (???????????????????????????? ??????????????????????????)</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Month">
                    <xs:annotation>
                      <xs:documentation>??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:totalDigits value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="Year">
                    <xs:annotation>
                      <xs:documentation>??????/??????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:totalDigits value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:sequence>
              <xs:element minOccurs="0" name="StartDate" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ???????????? ?????????????????????????? ???????????????????? ???? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="EndDate" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ?????????????????? ?????????????????????????? ???????????????????? ???? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element minOccurs="0" name="Terminate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ???? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisqualifiedPersonType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ???????????????????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DisqualifiedPerson">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????????????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FIO" type="individual-registry-base:FIOType">
              <xs:annotation>
                <xs:documentation>??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DateOfBirth" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="BirthPlace" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Position" type="xs:string">
              <xs:annotation>
                <xs:documentation>??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Org">
        <xs:annotation>
          <xs:documentation>???????????????????? ???? ??????????????????????, ?? ?????????????? ???????????????? ???????????????????????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="Legal">
                <xs:annotation>
                  <xs:documentation>?????????????????????? ????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="organizations-registry-base:LegalType" />
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Entrp">
                <xs:annotation>
                  <xs:documentation>????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="organizations-registry-base:EntpsType" />
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="LicenseNumber">
              <xs:annotation>
                <xs:documentation>?????????? ????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="\d{9}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="LicenseDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="LicenseRegOrg" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????????????????? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Judgement">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????? ?? ?????????????????????????????? (???????????????????? ?? ??????????????????????????????)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DisqualificationBase" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ?????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="JudgementName" type="xs:string">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="JudgementDocumentName" type="xs:string">
              <xs:annotation>
                <xs:documentation>???????????????????????? ?????????????????? - ?????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="JudgementDocumentNumber" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="JudgementDocumentDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????????????????????????????? ?? (???????? ???????????????????? ?? ???????? ?????????????? ????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Duration">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DurationYears">
                    <xs:annotation>
                      <xs:documentation>?????? (???? 0 ???? 99 ????????????????????????)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0" />
                        <xs:pattern value="\d{1,2}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DurationMonths">
                    <xs:annotation>
                      <xs:documentation>?????????????? (???? 0 ???? 11 ????????????????????????)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0" />
                        <xs:pattern value="(0?\d)|(1[0-1])" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DurationDays">
                    <xs:annotation>
                      <xs:documentation>???????? (???? 0 ???? 30 ????????????????????????)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:nonNegativeInteger">
                        <xs:minInclusive value="0" />
                        <xs:pattern value="[0-2]?\d|(30)" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ExclusionDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????????????????????????????? ???? (???????????????? ???????? ???????????????????? ???????????????? ???? ??????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="AdditionalInformation" type="base:LongTextType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>