Chelyabinsk/Bars.GkhGji.Regions.Chelyabinsk/XSDShemas/commons/Charge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bdi="http://roskazna.ru/gisgmp/xsd/BudgetIndex/2.0.1"
	xmlns:org="http://roskazna.ru/gisgmp/xsd/Organization/2.0.1"
	xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.0.1"
	targetNamespace="http://roskazna.ru/gisgmp/xsd/Charge/2.0.1" elementFormDefault="qualified">
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Organization/2.0.1"
		schemaLocation="Organization.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/BudgetIndex/2.0.1"
		schemaLocation="BudgetIndex.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Common/2.0.1" schemaLocation="Common.xsd"/>
	<xsd:complexType name="ChargeType">
		<xsd:annotation>
			<xsd:documentation>Данные начисления </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="LinkedChargesIdentifiers">
				<xsd:annotation>
					<xsd:documentation>Идентификаторы начислений, на основании которых выставлено данное
						начисление</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="10" name="SupplierBillID"
							type="com:SupplierBillIDType">
							<xsd:annotation>
								<xsd:documentation>УИН, на основании которого выставлено данное начисление (УИН связанного
									начисления)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Payee">
				<xsd:annotation>
					<xsd:documentation>Данные организации, являющейся получателем средств</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="org:OrganizationType">
							<xsd:sequence>
								<xsd:element ref="com:OrgAccount">
									<xsd:annotation>
										<xsd:documentation>Реквизиты счета организации</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Payer">
				<xsd:annotation>
					<xsd:documentation>Сведения о плательщике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="com:PayerType">
							<xsd:attribute name="additionalPayerIdentifier">
								<xsd:annotation>
									<xsd:documentation>Дополнительный идентификатор плательщика</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="com:PayerIdentifierType">
										<xsd:pattern
											value="(1((0[1-9])|(1[0-5])|(2[1245689])|(3[0]))[0-9a-zA-Zа-яА-Я]{19})|(200\d{14}[A-Z0-9]{2}\d{3})|(300\d{14}[A-Z0-9]{2}\d{3}|3[0]{7}\d{9}[A-Z0-9]{2}\d{3})|(4[0]{9}\d{12})"
										/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BudgetIndex" type="bdi:BudgetIndexType">
				<xsd:annotation>
					<xsd:documentation>Дополнительные реквизиты платежа
(допустимые значения статуса плательщика (атрибут status): 01… 13, 15…28)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="com:ChangeStatus"/>
			<xsd:element minOccurs="0" ref="com:Discount">
				<xsd:annotation>
					<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="5" minOccurs="0" ref="com:AdditionalData">
				<xsd:annotation>
					<xsd:documentation>Дополнительные поля начисления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="supplierBillID" use="required">
			<xsd:annotation>
				<xsd:documentation>УИН</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="com:SupplierBillIDType">
					<xsd:pattern value="(\w{20})|(\d{25})"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="billDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата начисления суммы, подлежащей уплате плательщиком</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUntil" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата, вплоть до которой актуально выставленное начисление</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма начисления (в копейках)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="purpose" use="required">
			<xsd:annotation>
				<xsd:documentation>Назначение платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\S+[\S\s]*\S+"/>
					<xsd:maxLength value="210"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType" use="required">
			<xsd:annotation>
				<xsd:documentation>КБК</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType" use="required">
			<xsd:annotation>
				<xsd:documentation>Код ОКТМО, указанный в распоряжении о переводе денежных средств. В случае отсутствия следует
					указывать значение «0»</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deliveryDate" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата отсылки (вручения) плательщику документа с начислением в случае, если этот документ был
					отослан (вручен) получателем средств плательщикуДата отсылки (вручения) плательщику документа с начислением в
					случае, если этот документ был отослан (вручен) получателем средств плательщику</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="paymentTerm" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Срок оплаты начисления</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="origin">
			<xsd:annotation>
				<xsd:documentation>Признак предварительного начисления</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="PRIOR"/>
					<xsd:pattern value="TEMP"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ChargeTemplateType">
		<xsd:annotation>
			<xsd:documentation>Данные шаблона начисления</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Payee">
				<xsd:annotation>
					<xsd:documentation>Данные организации, являющейся получателем средств</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="org:OrganizationType">
							<xsd:sequence>
								<xsd:element ref="com:OrgAccount">
									<xsd:annotation>
										<xsd:documentation>Реквизиты счета организации</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Payer">
				<xsd:annotation>
					<xsd:documentation>Сведения о плательщике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="com:PayerType">
							<xsd:attribute name="additionalPayerIdentifier">
								<xsd:annotation>
									<xsd:documentation>Дополнительный идентификатор плательщика</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="com:PayerIdentifierType">
										<xsd:pattern
											value="(1((0[1-9])|(1[0-5])|(2[1245689])|(3[0]))[0-9a-zA-Zа-яА-Я]{19})|(200\d{14}[A-Z0-9]{2}\d{3})|(300\d{14}[A-Z0-9]{2}\d{3}|3[0]{7}\d{9}[A-Z0-9]{2}\d{3})|(4[0]{9}\d{12})"
										/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BudgetIndex" type="bdi:BudgetIndexType">
				<xsd:annotation>
					<xsd:documentation>Дополнительные реквизиты платежа  (допустимые значения статуса плательщика (атрибут status): 01… 13, 15…28)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="com:ChangeStatus"/>
			<xsd:element minOccurs="0" ref="com:Discount">
				<xsd:annotation>
					<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="5" minOccurs="0" ref="com:AdditionalData">
				<xsd:annotation>
					<xsd:documentation>Дополнительные поля начисления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="supplierBillID">
			<xsd:annotation>
				<xsd:documentation>УИН</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="com:SupplierBillIDType">
					<xsd:pattern value="(\w{20})|(\d{25})"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="billDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата начисления суммы, подлежащей уплате плательщиком</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUntil" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата, вплоть до которой актуально выставленное начисление</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма начисления (в копейках)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="purpose" use="required">
			<xsd:annotation>
				<xsd:documentation>Назначение платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\S+[\S\s]*\S+"/>
					<xsd:maxLength value="210"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType" use="required">
			<xsd:annotation>
				<xsd:documentation>КБК</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType" use="required">
			<xsd:annotation>
				<xsd:documentation>Код ОКТМО, указанный в распоряжении о переводе денежных средств. В случае отсутствия следует
					указывать значение «0»</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deliveryDate" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата отсылки (вручения) плательщику документа с начислением в случае, если этот документ был
					отослан (вручен) получателем средств плательщикуДата отсылки (вручения) плательщику документа с начислением в
					случае, если этот документ был отослан (вручен) получателем средств плательщику</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="paymentTerm" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Срок оплаты начисления</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="origin">
			<xsd:annotation>
				<xsd:documentation>Признак предварительного начисления</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="PRIOR"/>
					<xsd:pattern value="TEMP"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
