Chelyabinsk/Bars.GkhGji.Regions.Chelyabinsk/XSDShemas/commons/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.0.1"
	targetNamespace="http://roskazna.ru/gisgmp/xsd/Common/2.0.1" elementFormDefault="qualified">
	<xsd:simpleType name="AccountNumType">
		<xsd:annotation>
			<xsd:documentation>Номер счета</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="20"/>
			<xsd:pattern value="\d{20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="INNType">
		<xsd:annotation>
			<xsd:documentation>ИНН юр. лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KPPType">
		<xsd:annotation>
			<xsd:documentation>КПП юр. лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{2}[A-Z0-9]{2}\d{3}">
				<xsd:annotation>
					<xsd:documentation>9 символов, пятый и шестой из которых могут быть прописными
						(заглавными) латинскими буквами или цифрами, а все остальные только цифрами,
						и при этом первый и второй знаки (цифры) не могут одновременно принимать
						значение ноль ("0").</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OKTMOType">
		<xsd:annotation>
			<xsd:documentation>Код ОКТМО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="\d{8}">
				<xsd:annotation>
					<xsd:documentation>8 цифр ОКТМО, при этом первые 3 не могут быть
                        нулями</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="0"/>
			<xsd:pattern value="\d{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-zA-Zа-яА-Я]{20}"/>
			<xsd:pattern value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKResponseType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OGRNType">
		<xsd:annotation>
			<xsd:documentation>ОГРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
			<xsd:pattern value="\d{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BIKType">
		<xsd:annotation>
			<xsd:documentation>БИК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplierBillIDType">
		<xsd:annotation>
			<xsd:documentation>УИН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\w{20}"/>
			<xsd:pattern value="\d{25}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URNType">
		<xsd:annotation>
			<xsd:documentation>УРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EsiaUserInfoType">
		<xsd:choice>
			<xsd:annotation>
				<xsd:documentation>Данные пользователя, полученные информационной системой Участника
					из ЕСИА</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Person">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DocumentIdentity">
							<xsd:annotation>
								<xsd:documentation>Документ, удостоверяющий
									личность</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="code" use="required">
									<xsd:annotation>
										<xsd:documentation>Код документа, удостоверяющего
											личность</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="1">
												<xsd:annotation>
												<xsd:documentation>Паспорт гражданина Российской
												Федерации</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
											<xsd:enumeration value="2">
												<xsd:annotation>
												<xsd:documentation>Документ иностранного
												гражданина</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="series">
									<xsd:annotation>
										<xsd:documentation>Серия</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="number" use="required">
									<xsd:annotation>
										<xsd:documentation>Номер</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="snils" use="required">
						<xsd:annotation>
							<xsd:documentation>СНИЛС физического лица, полученный из ЕСИА</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{11}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="personINN" type="com:PersonINNType">
						<xsd:annotation>
							<xsd:documentation>ИНН физического лица (гражданина РФ). 

Обязательно для	заполнения, если физическое лицо - гражданин РФ</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IndividualBusiness">
				<xsd:annotation>
					<xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="personINN" use="required">
						<xsd:annotation>
							<xsd:documentation>ИНН, полученный из ЕСИА</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="com:PersonINNType">
								<xsd:pattern value="\d{12}"/>
								<xsd:length value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="userId" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор учетной записи пользователя в системе
					ЕСИА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sessionIndex">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор сессии пользователя в системе
					ЕСИА</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="300"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="unqualified" name="sessionDate" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Дата и время открытия сессии пользователя в системе
					ЕСИА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AdditionalDataType">
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation>Наименование поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="100"/>
						<xsd:pattern value="\S+[\S\s]*\S+"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Value">
				<xsd:annotation>
					<xsd:documentation>Значение поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
						<xsd:pattern value="\S+[\S\s]*\S+"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AdditionalData" type="com:AdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные поля</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChangeStatus">
		<xsd:annotation>
			<xsd:documentation>Сведения о статусе и основаниях его изменения</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Reason">
					<xsd:annotation>
						<xsd:documentation>Указание является обязательным, если атрибут «meaning» не равен «1»</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="512"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="meaning" use="required">
				<xsd:annotation>
					<xsd:documentation>Статус, отражающий изменение данных:
1 - новый 
2 - уточнение 
3 - аннулирование 
4 - деаннулировании</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="1">
							<xsd:annotation>
								<xsd:documentation>Новый</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="2">
							<xsd:annotation>
								<xsd:documentation>Уточнение</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="3">
							<xsd:annotation>
								<xsd:documentation>Аннулирование</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="4">
							<xsd:annotation>
								<xsd:documentation>Деаннулирование</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="PersonINNType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{12}"/>
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="true" name="Discount" type="com:DiscountType"/>
	<xsd:simpleType name="DiscountValueType">
		<xsd:restriction base="xsd:float"/>
	</xsd:simpleType>
	<xsd:simpleType name="DiscountDateType">
		<xsd:annotation>
			<xsd:documentation>Срок действия скидки. 
Возможные значения:
- дата окончания скидки в формате «ГГГГ-ММ-ДД»; 
- при отсутствии срока действия	указывается значение «0».</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})|0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType abstract="true" name="DiscountType">
		<xsd:sequence>
			<xsd:element name="Value" type="com:DiscountValueType">
				<xsd:annotation>
					<xsd:documentation>значение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Expiry" type="com:DiscountDateType">
				<xsd:annotation>
					<xsd:documentation>срок действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DiscountSize" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты со скидкой (процент)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Процент скидки от суммы
									начисления</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="com:DiscountValueType">
									<xsd:pattern value="([1-9])|(\d{2})"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия скидки. 
Возможные значения:
- дата окончания скидки в формате «ГГГГ-ММ-ДД»; 
- при отсутствии срока действия	указывается значение «0».</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DiscountFixed" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты с фиксированной суммой скидки</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Сумма скидки от полной суммы
									начисления</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="com:DiscountValueType">
									<xsd:pattern value="\d+"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия скидки. 
Возможные значения:
- дата окончания скидки в формате «ГГГГ-ММ-ДД»; 
- при отсутствии срока действия	указывается значение «0».</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MultiplierSize" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты с применением понижающего размер начисления
				коэффициента</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Коэффициент, понижающий размер
									начисления</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="com:DiscountValueType">
									<xsd:pattern value=""/>
									<xsd:pattern value="0\.\d\d?"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия учета коэффициента, понижающего размер начисления.
Возможные значения:
- дата окончания скидки в формате «ГГГГ-ММ-ДД»; 
- при отсутствии срока действия указывается значение «0».</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RequestType">
		<xsd:attribute name="Id" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор запроса</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время формирования запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="senderIdentifier" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН участника-отправителя запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="senderRole" use="required">
			<xsd:annotation>
				<xsd:documentation>Полномочие участника-отправителя сообщения, с которым происходит обращение к ГИС ГМП. Требуется указание, если участник зарегистрирован в ГИС ГМП с несколькими полномочиями одновременно</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\w{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ExportRequestType">
		<xsd:complexContent>
			<xsd:extension base="com:RequestType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Paging" type="com:PagingType">
						<xsd:annotation>
							<xsd:documentation>Параметры постраничного предоставления из ГИС ГМП информации (при больших объемах предоставляемых данных)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="originatorId" type="com:URNType">
					<xsd:annotation>
						<xsd:documentation>УРН участника косвенного взаимодействия, сформировавшего запрос</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ResponseType">
		<xsd:annotation>
			<xsd:documentation>Основные параметры ответа на запрос</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Id" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор ответа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="RqId" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор запроса</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="recipientIdentifier" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН участника получателя</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время формирования ответа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PayerIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1((0[1-9])|(1[0-5])|(2[12456789])|(3[0]))[0-9a-zA-Zа-яА-Я]{19}">
				<xsd:annotation>
					<xsd:documentation>Идентификатор ФЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:length value="22"/>
			<xsd:pattern value="200\d{14}[A-Z0-9]{2}\d{3}">
				<xsd:annotation>
					<xsd:documentation>Идентификатор ЮЛ или ИП</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="300\d{14}[A-Z0-9]{2}\d{3}|3[0]{7}\d{9}[A-Z0-9]{2}\d{3}"/>
			<xsd:pattern value="4[0]{9}\d{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PayerType">
		<xsd:attribute name="payerIdentifier" use="required" type="com:PayerIdentifierType">
			<xsd:annotation>
				<xsd:documentation>Идентификатор плательщика</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ImportProtocolType">
		<xsd:attribute name="entityID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор сущности в пакете</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="code" use="required">
			<xsd:annotation>
				<xsd:documentation>Код результата обработки: 
0 — если запрос успешно принят или код ошибки в случае отказа в приеме к обработке документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="description" use="required">
			<xsd:annotation>
				<xsd:documentation>Описание результата обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ImportPackageResponseType">
		<xsd:complexContent>
			<xsd:extension base="com:ResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="100" name="ImportProtocol" type="com:ImportProtocolType">
						<xsd:annotation>
							<xsd:documentation>Результат обработки сущности в пакете</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransKindType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AccDocType">
		<xsd:attribute name="accDocNo">
			<xsd:annotation>
				<xsd:documentation>Номер платежного документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="accDocDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата платежного документа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PaymentIdType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1\d{15}((0?[1-9]|[12][0-9]|3[01])(0?[1-9]|1[012])\d{4})\d{8}">
				<xsd:annotation>
					<xsd:documentation>Структура УИП для кредитных организаций</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="2\d{4}0{11}((0?[1-9]|[12][0-9]|3[01])(0?[1-9]|1[012])\d{4})\d{8}">
				<xsd:annotation>
					<xsd:documentation>Структура УИП для ТОФК</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="3[a-f0-9]{6}((0?[1-9]|[12][0-9]|3[01])(0?[1-9]|1[012])\d{4})\d{17}">
				<xsd:annotation>
					<xsd:documentation>Структура УИП для остальных участников</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefundIdType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{8}((0?[1-9]|[12][0-9]|3[01])(0?[1-9]|1[012])\d{4})\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="BankType">
		<xsd:annotation>
			<xsd:documentation>Данные банка</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name">
			<xsd:annotation>
				<xsd:documentation>Наименование структурного подразделения кредитной организации или
					подразделения Банка России, в котором открыт счет.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="200"/>
					<xsd:pattern value="\S+[\S\s]*\S+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="bik" type="com:BIKType" use="required">
			<xsd:annotation>
				<xsd:documentation>БИК структурного подразделения кредитной организации или подразделения Банка России, в котором открыт счет. Наличие этого тега исключает тег SWIFT.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="correspondentBankAccount" type="com:AccountNumType">
			<xsd:annotation>
				<xsd:documentation>Номер корреспондентского счета кредитной организации, открытый в
					подразделении Банка России.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AccountType">
		<xsd:annotation>
			<xsd:documentation>Описание счета организации / банка</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bank" type="com:BankType">
				<xsd:annotation>
					<xsd:documentation>Данные банка, в котором открыт счет</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="accountNumber" type="com:AccountNumType">
			<xsd:annotation>
				<xsd:documentation>Номер банковского счета</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="OrgAccount">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:AccountType">
					<xsd:sequence>
						<xsd:element name="Bank" type="com:BankType">
							<xsd:annotation>
								<xsd:documentation>Данные банка, в котором открыт счет</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="accountNumber" type="com:AccountNumType" use="required">
						<xsd:annotation>
							<xsd:documentation>Номер банковского счета</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="PayeeAccountType">
		<xsd:annotation>
			<xsd:documentation>Лицевого счета получателя платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\d\w]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PagingType">
		<xsd:annotation>
			<xsd:documentation>Параметры постраничного предоставления информации</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="pageNumber" use="required">
			<xsd:annotation>
				<xsd:documentation>Номер страницы предоставления информации

Вся выборка по запросу разбивается на страницы размером pageLength, начиная с первого элемента. 
Последняя страница может быть меньше, чем pageLength.
 В ответ на запрос возвращается только страница, номер которой равен pageNumber.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:nonNegativeInteger">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="pageLength" use="required">
			<xsd:annotation>
				<xsd:documentation>Количество элементов на странице предоставления информации</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:nonNegativeInteger">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TimeIntervalType">
		<xsd:attribute name="startDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Начальная дата временного интервала запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Конечная дата временного интервала запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="TimeInterval" type="com:TimeIntervalType">
		<xsd:annotation>
			<xsd:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="KBKlist">
		<xsd:annotation>
			<xsd:documentation>Перечень КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="10" name="KBK" type="com:KBKType">
					<xsd:annotation>
						<xsd:documentation>КБК</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="AcknowledgmentStatusType">
		<xsd:annotation>
			<xsd:documentation>Статус, присваиваемый начислению при создании квитанции: 
1 - сквитировано;
2 - предварительно сквитировано;
3 - не сквитировано;
4 - сквитировано по инициативе АН/ГАН с отсутствующим в ГИС ГМП платежом;
5 - принудительно сквитировано по инициативе АН/ГАН с платежом.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>сквитировано</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>предварительно сквитировано</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>не сквитировано</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>сквитировано с отсутствующим в системе
                                                                платежом</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>принудительно сквитировано с
                                                                платежом</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImportCertificateEntryType">
		<xsd:sequence>
			<xsd:element name="CertificateInfo" type="com:CertificateInfoType">
				<xsd:annotation>
					<xsd:documentation>Информация о сертификате ключа проверки электронной подписи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Уникальный в пределах запроса идентификатор описания сертификата используемый для поиска самого сертификата в элементе basic:AttachmentContentList запроса СМЭВ</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="operation" use="required">
			<xsd:annotation>
				<xsd:documentation>Вид операции. 
Возможные значения:
APPEND – загрузка нового сертификата ключа проверки ЭП.
REPLACE – обновление хранящегося в ГИС ГМП сертификата ключа проверки ЭП.
</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="APPEND"/>
					<xsd:enumeration value="REPLACE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CertificateInfoType">
		<xsd:attribute name="ownership" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН владельца сертификата ключа проверки ЭП. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="serialNumber">
			<xsd:annotation>
				<xsd:documentation>Уникальный номер сертификата представленный в виде десятичного числа. Обязательно указание при обновлении сертификата (operation= «REPLACE»).</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200"/>
					<xsd:pattern value="\d{1,200}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
