Chelyabinsk/Bars.GkhGji.Regions.Chelyabinsk/XSDShemas/commons/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.0.1"
            xmlns:bdi="http://roskazna.ru/gisgmp/xsd/BudgetIndex/2.0.1"
            xmlns:org="http://roskazna.ru/gisgmp/xsd/Organization/2.0.1"
            targetNamespace="http://roskazna.ru/gisgmp/xsd/Payment/2.0.1"
            elementFormDefault="qualified">
    <xsd:import namespace="http://roskazna.ru/gisgmp/xsd/BudgetIndex/2.0.1" schemaLocation="BudgetIndex.xsd"/>
    <xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Common/2.0.1" schemaLocation="Common.xsd"/>
    <xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Organization/2.0.1" schemaLocation="Organization.xsd"/>
    <xsd:complexType name="PaymentType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для платежа</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PaymentOrg" type="org:PaymentOrgType">
                <xsd:annotation>
                    <xsd:documentation>Данные организации, принявшей платеж</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Payer">
                <xsd:annotation>
                    <xsd:documentation>Сведения о плательщике</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="payerIdentifier" use="required">
                        <xsd:simpleType>
                            <xsd:union memberTypes="com:PayerIdentifierType">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:pattern value="0"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:union>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="payerName">
                        <xsd:annotation>
                            <xsd:documentation>Наименование плательщика</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="160"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="payerAccount">
                        <xsd:annotation>
                            <xsd:documentation>Номер счета плательщика (при наличии) в организации, принявшей
                                платеж
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element ref="org:Payee">
                <xsd:annotation>
                    <xsd:documentation>Сведения о получателе средств</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="BudgetIndex" type="bdi:BudgetIndexType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Реквизиты платежа 101, 106-109, предусмотренные приказом Минфина России от 12 ноября 2013
                        г. №107н
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AccDoc" type="com:AccDocType">
                <xsd:annotation>
                    <xsd:documentation>Реквизиты платежного документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PartialPayt" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Информация о частичном платеже</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AccDoc" type="com:AccDocType">
                            <xsd:annotation>
                                <xsd:documentation>Реквизиты платежного документа (по которому осуществляется частичное
                                    исполнение)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="transKind" type="com:TransKindType" use="required">
                        <xsd:annotation>
                            <xsd:documentation>Вид операции. Проставляется шифр исполняемого распоряжения. Возможные значения: 01
                                – платежное поручение; 06 – инкассовое поручение; 02 – платежное требование; 16 – платежный
                                ордер.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="paytNo">
                        <xsd:annotation>
                            <xsd:documentation>Номер частичного платежа</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="transContent">
                        <xsd:annotation>
                            <xsd:documentation>Содержание операции</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="sumResidualPayt" type="xsd:integer">
                        <xsd:annotation>
                            <xsd:documentation>Сумма остатка платежа</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element ref="com:ChangeStatus">
                <xsd:annotation>
                    <xsd:documentation>Сведения о статусе платежа и основаниях его изменения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="com:AdditionalData" minOccurs="0" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Дополнительные поля</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="paymentId" type="com:PaymentIdType" use="required">
            <xsd:annotation>
                <xsd:documentation>УИП, присвоенный участником, принявшим платеж</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="supplierBillID">
            <xsd:annotation>
                <xsd:documentation>УИН</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union memberTypes="com:SupplierBillIDType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="\d{15}"/>
                            <xsd:pattern value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="purpose" use="required">
            <xsd:annotation>
                <xsd:documentation>Назначение платежа</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\S+[\S\s]*\S+"/>
                    <xsd:maxLength value="210"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="amount" type="xsd:unsignedLong" use="required">
            <xsd:annotation>
                <xsd:documentation>Сумма платежа в копейках</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="paymentDate" type="xsd:date" use="required">
            <xsd:annotation>
                <xsd:documentation>Дата приема к исполнению распоряжения плательщика</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="receiptDate" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation>Дата поступления распоряжения в банк плательщика. Обязательно для заполнения в случае
                    поступления распоряжения в кредитную организацию
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="kbk" type="com:KBKType">
            <xsd:annotation>
                <xsd:documentation>КБК. Обязательно, если расчетный счет получателя средств открыт не на балансовом счете
                    «40302»
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="oktmo" type="com:OKTMOType">
            <xsd:annotation>
                <xsd:documentation>Код ОКТМО, указанный в распоряжении о переводе денежных средств. В случае отсутствия следует
                    указывать значение «0». Обязательно, если расчетный счет получателя средств открыт не на балансовом счете
                    «40302»
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="deliveryDate" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation>Дата отсылки (вручения) плательщику документа с начислением в случае, если этот документ был
                    отослан (вручен) получателем средств плательщику
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ESIA_ID">
            <xsd:annotation>
                <xsd:documentation>Идентификатор учетной записи пользователя в ЕСИА</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{3,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="transKind" type="com:TransKindType" use="required">
            <xsd:annotation>
                <xsd:documentation>Вид операции. Указывается шифр платежного документа. Возможные значения: 01 – платежное
                    поручение; 06 – инкассовое поручение; 02 – платежное требование; 16 – платежный ордер.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
