Bars.GisIntegration.Base/Service References/OrgRegistryAsync/hcs-organizations-registry-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/organizations-registry/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry/" version="10.0.2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:element name="importSubsidiaryRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="Subsidiary">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:SubsidiaryImportType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importSubsidiaryRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importForeignBranchRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?? ?????????????? ?????? ?????????????????????????????????? ???????????????????????? ???????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="ForeignBranch">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:ForeignBranchImportType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importForeignBranchRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
          </xs:choice>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SubsidiaryImportType">
    <xs:annotation>
      <xs:documentation>???????????? ????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="CreateSubsidiary">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:SubsidiaryType">
              <xs:sequence>
                <xs:element ref="organizations-registry-base:orgVersionGUID">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ???????????????? ?????????????????????? ???????????? ???????????? ?? ?????????????? ??????????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateSubsidiary">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????????? ?? ???????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="organizations-registry-base:orgVersionGUID" />
            <xs:element minOccurs="0" name="FullName">
              <xs:annotation>
                <xs:documentation>???????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="4000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" ref="organizations-base:INN" />
            <xs:element minOccurs="0" ref="organizations-base:OKOPF" />
            <xs:element minOccurs="0" name="Address" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
              <xs:annotation>
                <xs:documentation>?????????? ?????????????????????? (???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ActivityEndDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SourceName">
              <xs:annotation>
                <xs:documentation>???????????????? ????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="base:String255Type">
                    <xs:attribute name="Date" type="xs:date" use="required">
                      <xs:annotation>
                        <xs:documentation>????</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ForeignBranchImportType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="CreateForeignBranch" type="organizations-registry-base:ForeignBranchType">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????? ?????? ?????????????????????????????????? ???????????????????????? ???????????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UpdateForeignBranch">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????????? ?????? ?????????????????????????????????? ???????????????????????? ???????????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="organizations-registry-base:orgVersionGUID" />
            <xs:element name="FullName">
              <xs:annotation>
                <xs:documentation>???????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="4000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ShortName">
              <xs:annotation>
                <xs:documentation>?????????????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element ref="organizations-base:INN" />
            <xs:element ref="organizations-base:KPP" />
            <xs:element minOccurs="0" name="Address" type="xs:string">
              <xs:annotation>
                <xs:documentation>?????????? ?????????? ????????????????????(????????????????????)_??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
              <xs:annotation>
                <xs:documentation>?????????? ?????????? ????????????????????(????????????????????)_???????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccreditationStartDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????????? ???????????? ?? ???????????? ??????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="AccreditationEndDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ???????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RegistrationCountry" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>???????????? ?????????????????????? ???????????????????????? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>