Bars.GisIntegration.Base/Service References/NsiAsync/hcs-base1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/base/" version="10.0.2.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xmldsig-core-schema.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:complexType name="BaseType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ????????????-?????????????????? ?? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Signature" />
    </xs:sequence>
    <xs:attribute name="Id" />
  </xs:complexType>
  <xs:element name="RequestHeader">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tns:HeaderType">
          <xs:sequence>
            <xs:choice>
              <xs:element name="SenderID" type="tns:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ???????????????????? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="orgPPAGUID" type="tns:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ???????????????????????????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" fixed="true" name="IsOperatorSignature" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????????????????????? ?????????????? ?????????????????? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ISRequestHeader" type="tns:HeaderType">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ResultHeader">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tns:HeaderType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ???????????? ???? ???????????? ????????????????, ????????????????????????????, ???????????????? </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="TransportGUID" type="tns:GUIDType">
          <xs:annotation>
            <xs:documentation>???????????????????????? ??????????????????????????, ???????????????????????? ???????????????????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="UpdateGUID" type="tns:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ?????????????? ?? ?????? ??????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:element name="GUID" type="tns:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????? ?? ?????? ??????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ??????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UniqueNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>???????????????????? ?????????? </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" name="CreateOrUpdateError" type="tns:ErrorMessageType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageGUID" type="tns:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachment">
    <xs:annotation>
      <xs:documentation>????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AttachmentGUID" type="tns:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ???????????????????????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AttachmentType">
    <xs:annotation>
      <xs:documentation>????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation>???????????????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Description">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="tns:Attachment" />
      <xs:element name="AttachmentHASH">
        <xs:annotation>
          <xs:documentation>??????-?????? ???????????????? ???? ?????????????????? ???????? ?? binhex</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault">
    <xs:annotation>
      <xs:documentation>?????????????? Fault (?????? ?????????????????? Fault ?? ????????????????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????? ?????? ?????? fault-????????????</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ErrorCode" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StackTrace" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorMessage" type="tns:ErrorMessageType">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????? ?????????????????? ?????? ????????????-????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ErrorMessageType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ???????????? ???????????????? ?????? ????????????-????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrorCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StackTrace" type="xs:string">
        <xs:annotation>
          <xs:documentation>StackTrace ?? ???????????? ?????????????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:attribute name="version" type="xs:string">
    <xs:annotation>
      <xs:documentation>???????????? ????????????????, ?????????????? ?? ?????????????? ???????????????????????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="ImportResult">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????? ?????????????? ???????????? ?????? ???????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tns:BaseType">
          <xs:choice>
            <xs:element ref="tns:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="CommonResult" type="tns:CommonResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="AckRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ???????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ack">
          <xs:annotation>
            <xs:documentation>??????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessageGUID" type="tns:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ??????????????????, ?????????????????????? ?????? ??????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="RequesterMessageGUID" type="tns:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ??????????????????, ?????????????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageGUID" type="tns:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ??????????????????, ?????????????????????? ?????? ??????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseAsyncResponseType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ???????????? ???? ???????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseType">
        <xs:sequence>
          <xs:element name="RequestState" type="tns:AsyncRequestStateType">
            <xs:annotation>
              <xs:documentation>???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageGUID" type="tns:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????, ?????????????????????? ?????? ??????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommonResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????????? C_UD</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" type="tns:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????????????/???????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="TransportGUID" type="tns:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:annotation>
            <xs:documentation>???????????????? ?????????????????? ??????????????</xs:documentation>
          </xs:annotation>
          <xs:element minOccurs="0" name="UniqueNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>???????????????????? ???????????????????? ??????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ??????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" name="Error">
          <xs:annotation>
            <xs:documentation>???????????????? ????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="tns:ErrorMessageType" />
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AsyncRequestStateType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????? ?????????????????? ?? ?????????????????????? ???????????? (1- ????????????????; 2 - ?? ??????????????????; 3- ????????????????????)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:byte">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransportGUID" type="tns:GUIDType">
    <xs:annotation>
      <xs:documentation>???????????????????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="NonEmptyStringType">
    <xs:annotation>
      <xs:documentation>???????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value=".*[^\s].*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String255Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 255 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String100Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 100 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String250Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 250 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String500Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 500 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongTextType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????? 2000</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GUIDType">
    <xs:annotation>
      <xs:documentation>GUID-??????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModificationDate" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="YearType">
    <xs:annotation>
      <xs:documentation>??????, ?????????????????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short">
      <xs:minInclusive value="1600" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonthType">
    <xs:annotation>
      <xs:documentation>??????, ?????????????????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:maxInclusive value="12" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Month" type="tns:MonthType">
    <xs:annotation>
      <xs:documentation>??????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Year">
    <xs:annotation>
      <xs:documentation>??????</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="1920" />
        <xs:maxInclusive value="2050" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="VolumeType">
    <xs:annotation>
      <xs:documentation>?????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:minInclusive value="0" />
      <xs:totalDigits value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegionType">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????? ???? (????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code">
        <xs:annotation>
          <xs:documentation>?????? ?????????????? (????????)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="name">
        <xs:annotation>
          <xs:documentation>???????????? ????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OKTMORefType">
    <xs:annotation>
      <xs:documentation>???????????? ???? ??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code">
        <xs:annotation>
          <xs:documentation>?????? ???? ??????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="11" />
            <xs:pattern value="\d{11}|\d{8}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="name">
        <xs:annotation>
          <xs:documentation>???????????? ????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OKEIType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OKEI" type="tns:OKEIType">
    <xs:annotation>
      <xs:documentation>?????? ????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="orgPPAGUID" type="tns:GUIDType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ???????????????????????????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DocumentPortalType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ?????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="500" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="DocNumber">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="500" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ApproveDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ?????????????????? ?????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Attachment" type="tns:AttachmentType">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>