GisGkhLibrary/Connected Services/NsiServiceAsync/hcs-nsi-types1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/nsi/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/nsi/" version="13.0.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:element name="importAdditionalServicesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 1 "???????????????????????????? ????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element name="AdditionalServiceTypeName" type="base:String100Type">
                    <xs:annotation>
                      <xs:documentation>???????????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element ref="base:OKEI">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="StringDimensionUnit">
                      <xs:annotation>
                        <xs:documentation>(???????????????? ?????????? ???? ????????????????????????????)
???????????? ?????????????? ??????????????????.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="base:String100Type">
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>???????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importAdditionalServicesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAdditionalServicesRequest_ElementGuidKey">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importMunicipalServicesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 51 "???????????????????????? ????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ????????????????/?????????????????? ?????????????? ???????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element name="MunicipalServiceRef" type="nsi-base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ???????????????????????? ????????????" (???????????????????? ?????????? 3).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="GeneralNeeds" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>(???? ????????????????????????) ?????????????? "???????????? ?????????????????????????????? ???? ?????????????????????? ??????????"</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="SelfProduced" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>(???? ????????????????????????) ?????????????? "?????????????????????????????? ???????????????????????? ???????????????????????? ????????????"</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="MainMunicipalServiceName" type="base:String100Type">
                    <xs:annotation>
                      <xs:documentation>???????????????????????? ?????????????? ???????????????????????? ????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="1" name="MunicipalResourceRef" type="nsi-base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????? ??????????????" (???????????????????? ?????????? 2)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" ref="base:OKEI">
                    <xs:annotation>
                      <xs:documentation>(???? ????????????????????????)
???????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element name="SortOrder">
                      <xs:annotation>
                        <xs:documentation>?????????????? ????????????????????.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="3" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element fixed="true" name="SortOrderNotDefined" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????? ???????????????????? ???? ??????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ???????????????????????????? ?????????????? ???????????????????????? ???????????? (??????????).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="HierarchyRecover" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ???????????????? ?????????????? ???????????????????????? ???????????? (??????????).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.0.0.4" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMunicipalServicesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importMunicipalServicesRequest_ElementGuidKey">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importGeneralNeedsMunicipalResourceRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 337 "???????????????????????? ??????????????, ???????????????????????? ?????? ?????????????????????????? ?? ???????????????????? ???????????? ?????????????????? ?? ?????????????????????????????? ????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="TopLevelMunicipalResource">
                <xs:annotation>
                  <xs:documentation>?????? ?????????????? 2-???? ???????????? ???????????????? ?????????????? ???? ?????????????????????? ????????????. ?????????????????? ???????????? 1-???? ???????????? ???????????????? ?????????????????????? ???????? ?????????????????????? ?? ???? ?????????????????????? ????????????????/??????????????, ???????????? ?????? ???????????????????????? ???????????????????? ?????????????? ???????????? ???? ?????????????????????? "?????? ?????????????????????????? ??????????????" (???? ???????????????? ParentCode). ?? ???????????? ???? ???????????? ???????????? ?? ?????????????????? TransportGuid ???????????????????????? GUID ????????????.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ParentCode">
                      <xs:annotation>
                        <xs:documentation>?????? ???????????????????????? ???????????? ???????????????? ????????????. ?????????? ????????:
1 - ???????????????? ????????
2 - ?????????????? ????????
3 - ?????????????????????????? ??????????????
8 - ?????????????? ????????</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:byte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="8" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" maxOccurs="1000" name="ImportGeneralMunicipalResource">
                      <xs:annotation>
                        <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????????? ?????????????? (??????????)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:importGeneralNeedsMunicipalResourceType" />
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1000" name="RecoverGeneralMunicipalResource">
                <xs:annotation>
                  <xs:documentation>???????????????????????????? ???????????????? ?????????????????????????? ?????????????? (??????????).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1000" name="DeleteGeneralMunicipalResource">
                <xs:annotation>
                  <xs:documentation>????????????????  ???????????????? ?????????????????????????? ?????????????? (??????????).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
          <xs:attribute fixed="12.2.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importGeneralNeedsMunicipalResourceRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importGeneralNeedsMunicipalResourceRequest_ElementGuidKey">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="importGeneralNeedsMunicipalResourceType">
    <xs:annotation>
      <xs:documentation>?????? ?????????????? ?????????????????????? 337 "???????????????????????? ??????????????, ???????????????????????? ?????? ?????????????????????????? ?? ???????????????????? ???????????? ?????????????????? ?? ?????????????????????????????? ????????".</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="base:TransportGUID" />
      <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ?????????????????????? 2-???? ???????????? ???????????????? ?? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GeneralMunicipalResourceName" type="base:String255Type">
        <xs:annotation>
          <xs:documentation>???????????????????????? ???????????????? ?????????????????????????? ??????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MunicipalResourceRef" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????????? ?????????????? (?????? ???2 "?????? ?????????????????????????? ??????????????").</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:OKEI">
        <xs:annotation>
          <xs:documentation>(???? ????????????????????????)
???????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="SortOrder">
          <xs:annotation>
            <xs:documentation>?????????????? ????????????????????.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="3" />
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element fixed="true" name="SortOrderNotDefined" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????????????? ???????????????????? ???? ??????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importOrganizationWorksRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 59 "???????????? ?? ???????????? ??????????????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????? ?????????? ?? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverOrganizationWork">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ?????????????? (??????????) ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="HierarchyRecover" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteOrganizationWork">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????? (??????????) ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importOrganizationWorksRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importOrganizationWorksRequest_ElementGuidKey">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="ImportOrganizationWorkType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element ref="base:TransportGUID" />
        <xs:choice minOccurs="0">
          <xs:element name="ElementGuid" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element fixed="true" name="InsertInCopiedWorks" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ???????????? ?????????? 0 - "???????????? (????????????), ?????????????????????????? ???? ?????????????????????? ???????????? ??????????????????????", ?????????????????????? ?????? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:element name="WorkName" type="base:String500Type">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????/????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ServiceTypeRef" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ??????????" (???????????????????? ?????????? 56).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="RequiredServiceRef" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "???????????????????????? ????????????, ???????????????????????????? ???????????????????? ???????????????????? ??????" (???????????????????? ?????????? 67).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element ref="base:OKEI">
          <xs:annotation>
            <xs:documentation>???????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StringDimensionUnit" type="base:String100Type">
          <xs:annotation>
            <xs:documentation>?????????????? ???? ?????????????????????????? ????????????????????????. ???????????? ???????? ?????????????? ???????????????????????? ?????????????? base:OKEI</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1000" name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType">
        <xs:annotation>
          <xs:documentation>????????????????  ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importCapitalRepairWorkRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 219 "?????? ?????????? ???????????????????????? ??????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportCapitalRepairWork" type="tns:ImportCapitalRepairWorkType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????? ???????? ?????????? ???????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverCapitalRepairWork">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????????????? ?????????????????????? ???????? ?????????? ???????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteCapitalRepairWork">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????? ?????????????????????? ???????? ?????????? ???????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.1.0.5" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="ElementGuid_CR_Unique">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="TransportGUID_Unique">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="ImportCapitalRepairWorkType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????? ???????? ?????????? ???????????????????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element ref="base:TransportGUID" />
        <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="ServiceName" type="base:String500Type">
        <xs:annotation>
          <xs:documentation>???????????????????????? ???????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkGroupRef" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "???????????? ??????????" (???????????????????? ?????????? 218).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importCommunalInfrastructureSystemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 272 "?????????????? ???????????????????????? ????????????????????????????"</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportCommunalInfrastructureSystem" type="tns:importCommunalInfrastructureSystemType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????? ???????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverCommunalInfrastructureSystem">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????????????? ?????????????????????? ???????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteCommunalInfrastructureSystem">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????? ?????????????????????? ???????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.5.0.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="TransportGuid_CIS_Unique">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="ElementGuid_CIS_Unique">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="importCommunalInfrastructureSystemType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????? "?????????????? ???????????????????????? ????????????????????????????"</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element ref="base:TransportGUID" />
        <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="SystemName" type="base:String500Type">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommunalSystemInfrastructureType" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? 42
?????? ?????????????? ???????????????????????? ????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importBaseDecisionMSPRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 302 "?????????????????? ???????????????? ?????????????? ?? ?????????? ???????????????????? ?????????????????? ????????????????????".</xs:documentation>
      <xs:documentation>?????????? ???????????????? ?????????????? ?? ?????????? ???????????????????? ?????????????????? ????????????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportBaseDecisionMSP" type="tns:importBaseDecisionMSPType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????? ?????????????????? ???????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverBaseDecisionMSP">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????????????? ?????????????????????? ?????????????????? ???????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteBaseDecisionMSP">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????? ?????????????????????? ?????????????????? ???????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.1.0.5" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="TransportGuid_Unique">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="ElementGuid_BDMS_Unique">
      <xs:selector xpath=".//tns:ElementGuid" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="importBaseDecisionMSPType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????? ?????????????????? ???????????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element ref="base:TransportGUID" />
        <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="DecisionName" type="base:String500Type">
        <xs:annotation>
          <xs:documentation>???????????????????????? ?????????????????? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionType" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ?????????????? ?? ?????????? ???????????????????? ?????????????????? ????????????????????" (???????????????????? ?????????? 301)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsAppliedToSubsidiaries" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsAppliedToRefundOfCharges" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????? ?????????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportDataProviderNsiItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="nsi-base:NsiItemRegistryNumberType">
                  <xs:enumeration value="1" />
                  <xs:enumeration value="51" />
                  <xs:enumeration value="59" />
                  <xs:enumeration value="219" />
                  <xs:enumeration value="272" />
                  <xs:enumeration value="302" />
                  <xs:enumeration value="337" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDataProviderNsiPagingItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????? ???????????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="nsi-base:NsiItemRegistryNumberType">
                  <xs:enumeration value="1" />
                  <xs:enumeration value="51" />
                  <xs:enumeration value="59" />
                  <xs:enumeration value="219" />
                  <xs:enumeration value="302" />
                  <xs:enumeration value="337" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Page">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????. ???????????????????????? ???? 1000 ??????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="11.1.0.5" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element name="NsiItem" type="nsi-base:NsiItemType" />
            <xs:element name="NsiPagingItem">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="nsi-base:NsiItemType">
                    <xs:sequence>
                      <xs:element name="TotalItemsCount" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ?????????????? ?? ??????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="TotalPages" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ??????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurrentPage">
                        <xs:annotation>
                          <xs:documentation>?????????? ?????????????? ????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NsiList" type="nsi-base:NsiListType" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>