GisGkhLibrary/Connected Services/PaymentServiceAsync/hcs-payment-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:bills-base="http://dom.gosuslugi.ru/schema/integration/bills-base/" xmlns:account-base="http://dom.gosuslugi.ru/schema/integration/account-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/payment/" xmlns:individual-registry-base="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:payments-base="http://dom.gosuslugi.ru/schema/integration/payments-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/payment/" version="13.1.0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-bills-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/bills-base/" />
  <xs:import schemaLocation="../lib/hcs-account-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/account-base/" />
  <xs:import schemaLocation="../lib/hcs-payments-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/payments-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-individual-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" />
  <xs:element name="importNotificationsOfOrderExecutionRequest">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (????_??????????????_??????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="500" name="NotificationOfOrderExecutionType">
              <xs:annotation>
                <xs:documentation>?????????????????? ?? ???????????????? ?? ???????????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="payments-base:NotificationOfOrderExecutionType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="500" name="NotificationOfOrderExecution139Type">
              <xs:annotation>
                <xs:documentation>?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (???????????????? ???????????????????? ?????????????? ???? ??.139 ?????????????? ???589/944 ???? 28.12.2015)</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="payments-base:NotificationOfOrderExecution139Type">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importSupplierNotificationsOfOrderExecutionRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importNotificationsOfOrderExecutionRequest_OrderIDKey">
      <xs:selector xpath="tns:NotificationOfOrderExecutionType/tns:OrderInfo/tns:OrderID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importNotificationsOfOrderExecutionCancellationRequest">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????????? ???? ?????????????????????????? ?????????????????? ?? ???????????????? ?? ???????????????????????? ?? ???????????????????? (????_??????????????_??????????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="500" name="NotificationOfOrderExecutionCancellation" type="payments-base:NotificationOfOrderExecutionCancellationType" />
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importNotificationsOfOrderExecutionCancellationRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importNotificationsOfOrderExecutionCancellationRequest_OrderIDKey">
      <xs:selector xpath="tns:NotificationOfOrderExecutionCancellation/tns:OrderID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportPaymentDocumentDetailsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ???????????????????? ?? ???????????????? ?? ?????????????????? ????????????????????.

???????????????? ????????????: 11.0.1.1, 12.2.0.1 ?? 13.1.0.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:choice>
              <xs:element ref="bills-base:PaymentDocumentID" />
              <xs:sequence>
                <xs:element minOccurs="0" ref="base:Year" />
                <xs:element minOccurs="0" ref="base:Month" />
                <xs:choice>
                  <xs:element ref="account-base:UnifiedAccountNumber" />
                  <xs:sequence>
                    <xs:element name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
                      <xs:annotation>
                        <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:choice minOccurs="0">
                      <xs:sequence>
                        <xs:element name="ResidentialPremise">
                          <xs:annotation>
                            <xs:documentation>?????????? ???????????? ??????????????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ResidentialPremiseRoom">
                          <xs:annotation>
                            <xs:documentation>?????????? ?????????????? ???????????? ??????????????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                      <xs:sequence>
                        <xs:element name="ResidentialBlock">
                          <xs:annotation>
                            <xs:documentation>?????????? ???????????? ??????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ResidentialBlockRoom">
                          <xs:annotation>
                            <xs:documentation>?????????? ?????????????? ???????????? ??????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                      <xs:element name="NonResidentialApartment">
                        <xs:annotation>
                          <xs:documentation>?????????? ???????????????? ??????????????????</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="255" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="NonResidentialBlock">
                        <xs:annotation>
                          <xs:documentation>?????????? ???????????????? ??????????</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="255" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:choice>
                    <xs:choice>
                      <xs:element ref="account-base:AccountNumber" />
                      <xs:element ref="bills-base:PaymentDocumentNumber" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:element ref="account-base:ServiceID" />
                </xs:choice>
              </xs:sequence>
            </xs:choice>
            <xs:element minOccurs="0" name="AmountRequired">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ??????????????????????, ?????????????????????? ?????? ?????????????????? ???????????????????? ?? ?????????? ????????????????????/??????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element ref="tns:Individual" />
                  <xs:element name="Legal">
                    <xs:annotation>
                      <xs:documentation>?????????????????????? ????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="organizations-base:INN" />
                        <xs:element ref="organizations-base:KPP" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="importSupplierNotificationsOfOrderExecutionRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ???????????????????? ???????????????????? ?? ???????????????? ?? ???????????????????? ??????????????????????????, ?????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="250" name="SupplierNotificationOfOrderExecution">
              <xs:annotation>
                <xs:documentation>?????????????????? ?? ???????????????? ?? ???????????????????? ????????????????????????, ?????????????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:SupplierNotificationOfOrderExecutionType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importNotificationsOfOrderExecutionRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element name="exportPaymentDocumentDetailsResult">
              <xs:annotation>
                <xs:documentation>?????????? ???? ???????????? ???????????????? ???????????????????? ?? ???????????????? ?? ?????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Charge">
                    <xs:annotation>
                      <xs:documentation>???????????????? ?? ???????????????????? (?????? ???????????? ???? ?????????????? ?????????????? ???????????? ?? ????????????)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:PaymentDocument" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" ref="tns:Service" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Individual">
    <xs:annotation>
      <xs:documentation>??????????????????????-???????????????????? ????????, ?? ?????? ?????????? ???????????????????????????? ??????????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="individual-registry-base:FIOType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Purpose">
    <xs:annotation>
      <xs:documentation>???????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1000" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PDServiceName">
    <xs:annotation>
      <xs:documentation>???????????????????????? ???????????? (????????????), ?????????????????????? (??????????????????????) ????????????????????????, ???????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1000" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PaymentDocument">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ?????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="bills-base:PaymentDocumentID" />
        <xs:element minOccurs="0" ref="bills-base:PaymentDocumentNumber" />
        <xs:element minOccurs="0" ref="account-base:UnifiedAccountNumber" />
        <xs:element minOccurs="0" ref="account-base:AccountNumber" />
        <xs:element minOccurs="0" ref="account-base:ServiceID" />
        <xs:sequence>
          <xs:element name="PaymentDocumentDetails" type="tns:PaymentDocumentDetailsType">
            <xs:annotation>
              <xs:documentation>?????????????????? ????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element minOccurs="0" ref="base:Year" />
        <xs:element minOccurs="0" ref="base:Month" />
        <xs:element minOccurs="0" name="PaymentDocumentGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>GUID ???????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PaymentDocumentDetailsType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?? ???????????????? ???????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsumerInformation">
        <xs:annotation>
          <xs:documentation>???????????????? ?? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0">
              <xs:element name="Entpr">
                <xs:annotation>
                  <xs:documentation>??????????????????????-???????????????????????????? ??????????????????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="organizations-base:INN" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Legal">
                <xs:annotation>
                  <xs:documentation>??????????????????????-?????????????????????? ????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name">
                      <xs:annotation>
                        <xs:documentation>????????????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="160" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element ref="organizations-base:KPP" />
                    <xs:element ref="organizations-base:INN" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" name="address">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="region" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>?????????????? ????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="area">
                    <xs:annotation>
                      <xs:documentation>?????????? </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="120" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="city">
                    <xs:annotation>
                      <xs:documentation>??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="120" />
                        <xs:minLength value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="place">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="120" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="street">
                    <xs:annotation>
                      <xs:documentation>??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="120" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="housenum">
                    <xs:annotation>
                      <xs:documentation>?????????? ????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="buildnum">
                    <xs:annotation>
                      <xs:documentation>?????????? ??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="strucnum">
                    <xs:annotation>
                      <xs:documentation>?????????? ????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="apartment">
                    <xs:annotation>
                      <xs:documentation>?????????? ???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="placement">
                    <xs:annotation>
                      <xs:documentation>?????????? ?????????????? ???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="address_string">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????????????? ???????????????? ????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="2500" />
                        <xs:minLength value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="residential_block">
                    <xs:annotation>
                      <xs:documentation>?????????? ???????????? ??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="residential_block_room">
                    <xs:annotation>
                      <xs:documentation>?????????? ?????????????? ???????????? ??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="non_residential_block">
                    <xs:annotation>
                      <xs:documentation>?????????? ???????????????? ??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecutorInformation">
        <xs:annotation>
          <xs:documentation>C?????????????? ???? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="organizations-base:INN" />
            <xs:choice>
              <xs:element name="Entpr" type="individual-registry-base:FIOType">
                <xs:annotation>
                  <xs:documentation>??????????????????????-????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Legal">
                <xs:annotation>
                  <xs:documentation>??????????????????????-????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="organizations-base:KPP" />
                    <xs:element name="Name">
                      <xs:annotation>
                        <xs:documentation>????????????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="4000" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" name="PaymentInformation">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ?????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="payments-base:PaymentInformationExportType">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PaymentInformationGuid" type="base:GUIDType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element minOccurs="0" name="Reminder" type="bills-base:MoneyKopeckType">
                        <xs:annotation>
                          <xs:documentation>?????????? ?? ???????????? ???? ?????????????????? ???????????? ???? ???????????????????? ?????????????? (?? ????????????????)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element minOccurs="0" ref="account-base:AccountNumber" />
                      <xs:element minOccurs="0" ref="account-base:ServiceID" />
                      <xs:choice minOccurs="0">
                        <xs:element ref="base:ErrorMessage" />
                        <xs:sequence>
                          <xs:element minOccurs="0" name="DebtOrAdvance" type="bills-base:MoneyKopeckType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ???? ???????????????????? ??????????????/?????????? ???? ???????????? ???????????????????? ?????????????? (???????????? ??????????????, ?????????????????????? ???? 25 ?????????? ????????????????????????) ???? ???????????????????? ?????????????? (?? ????????????????)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="TotalWithDebtAndAdvance" type="bills-base:MoneyKopeckType">
                            <xs:annotation>
                              <xs:documentation>?????????? ?? ???????????? c ???????????? ??????????????????????????/?????????????????? ???? ???????????????????? ?????????????? (?? ????????????????)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:choice>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="MailingAddress">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Reminder" type="bills-base:MoneyKopeckType">
        <xs:annotation>
          <xs:documentation>?????????? ?? ???????????? ???? ?????????????????? ???????????? ???? ?????????? ???????????????????? ?????????????????? (?? ????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element ref="base:ErrorMessage" />
        <xs:sequence>
          <xs:element minOccurs="0" name="Debt" type="bills-base:MoneyKopeckType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? (?? ????????????????)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TotalWithDebtAndAdvance" type="bills-base:MoneyKopeckType">
            <xs:annotation>
              <xs:documentation>?????????? ?? ???????????? c ???????????? ??????????????????????????/?????????????????? ???? ?????????? ???????????????????? ?????????????????? (?? ????????????????)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:choice>
      <xs:element minOccurs="0" ref="tns:Purpose" />
      <xs:element minOccurs="0" ref="tns:PDServiceName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service">
    <xs:annotation>
      <xs:documentation>?????????????? ???? ???????? (?????? ???????????????????? ????????????????????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="account-base:UnifiedAccountNumber" />
        <xs:element minOccurs="0" ref="account-base:AccountNumber" />
        <xs:element ref="account-base:ServiceID" />
        <xs:element name="ServiceIDGuid" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>GUID ??????????????-???????????????????????? ????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ExecutorInformation">
          <xs:annotation>
            <xs:documentation>C?????????????? ???? ??????????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="organizations-base:INN" />
              <xs:choice>
                <xs:element name="Entpr" type="individual-registry-base:FIOType">
                  <xs:annotation>
                    <xs:documentation>??????????????????????-????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Legal">
                  <xs:annotation>
                    <xs:documentation>??????????????????????-????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="organizations-base:KPP" />
                      <xs:element name="Name">
                        <xs:annotation>
                          <xs:documentation>????????????????????????</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="4000" />
                            <xs:minLength value="1" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
              <xs:element maxOccurs="unbounded" name="PaymentInformation">
                <xs:annotation>
                  <xs:documentation>???????????????? ?? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="payments-base:PaymentInformationExportType">
                      <xs:sequence>
                        <xs:element minOccurs="0" name="PaymentInformationGuid" type="base:GUIDType">
                          <xs:annotation>
                            <xs:documentation>?????????????????????????? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MailingAddress">
                <xs:annotation>
                  <xs:documentation>???????????????? ??????????</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1000" />
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="tns:Purpose" />
        <xs:element minOccurs="0" ref="tns:PDServiceName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SupplierNotificationOfOrderExecutionType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?? ???????????????? ?? ???????????????????? ????????????????????????, ?????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ?????????? (?? ???????????? ????????????????????: ???????? ?????????????????????? ??????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OrderPeriod">
        <xs:annotation>
          <xs:documentation>????????????, ???? ?????????????? ???????????????? ??????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element ref="bills-base:PaymentDocumentID" />
        <xs:element ref="account-base:ServiceID" />
      </xs:choice>
      <xs:element name="Amount">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="bills-base:MoneyPositiveType">
            <xs:totalDigits value="13" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>