Bars.GisIntegration.Base/Service References/NsiCommon/hcs-nsi-common-types1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/nsi-common/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/nsi-common/" version="11.1.0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:element name="exportNsiListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????? ??????????????  ?????????????????????????? ????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" ref="nsi-base:ListGroup" />
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiListResult">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????????????????? ???????????????????????? ?? ?????????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????????? ???????????????????????? ?? ?????????????????? ???????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiList" type="nsi-base:NsiListType">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????????????? ?? ?????????????????? ???????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber" type="nsi-base:NsiItemRegistryNumberType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="nsi-base:ListGroup" />
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiItemResult">
    <xs:annotation>
      <xs:documentation>?????????????? ????????????  ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????? ??????????????????????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiItem" type="nsi-base:NsiItemType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiPagingItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber" type="nsi-base:NsiItemRegistryNumberType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="nsi-base:ListGroup" />
            <xs:element name="Page">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????. ???????????????????????? ???? 1000 ??????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiPagingItemResult">
    <xs:annotation>
      <xs:documentation>?????????????? ????????????  ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????? ??????????????????????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiItem">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="nsi-base:NsiItemType">
                    <xs:sequence>
                      <xs:element name="TotalItemsCount" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ?????????????? ?? ??????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="TotalPages" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ??????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurrentPage">
                        <xs:annotation>
                          <xs:documentation>?????????? ?????????????? ????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element name="NsiItem" type="nsi-base:NsiItemType" />
            <xs:element name="NsiPagingItem">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="nsi-base:NsiItemType">
                    <xs:sequence>
                      <xs:element name="TotalItemsCount" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ?????????????? ?? ??????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="TotalPages" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ??????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurrentPage">
                        <xs:annotation>
                          <xs:documentation>?????????? ?????????????? ????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NsiList" type="nsi-base:NsiListType" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.2" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>