Bars.GisIntegration.Base/Service References/DeviceMeteringAsync/hcs-device-metering-types1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/device-metering/" xmlns:metering-device-base="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/device-metering/" version="11.0.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-metering-device-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:complexType name="OneRateMeteringValueKindType">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????? ???? (???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????) (???????????????????????? ?????? ???????????????? ??????????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="metering-device-base:OneRateMeteringValueType">
              <xs:sequence>
                <xs:element name="DateValue" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue">
        <xs:annotation>
          <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="metering-device-base:OneRateMeteringValueType">
              <xs:sequence>
                <xs:element name="DateValue" type="xs:date">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
        <xs:annotation>
          <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EndDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SealDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="3" name="StartValue" type="metering-device-base:OneRateMeteringValueType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="3" name="EndValue" type="metering-device-base:OneRateMeteringValueType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element name="PlannedVerification" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElectricMeteringValueKindType">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????? ???? (?????????????????????????? ??????????????) (???????????????????????? ?????? ???????????????? ??????????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="metering-device-base:ElectricMeteringValueType">
              <xs:sequence>
                <xs:element name="DateValue" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue">
        <xs:annotation>
          <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="metering-device-base:ElectricMeteringValueType">
              <xs:sequence>
                <xs:element name="DateValue" type="xs:date">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
        <xs:annotation>
          <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EndDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SealDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="StartValue" type="metering-device-base:ElectricMeteringValueType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EndValue" type="metering-device-base:ElectricMeteringValueType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element name="PlannedVerification" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importMeteringDeviceValuesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" name="MeteringDevicesValues">
              <xs:annotation>
                <xs:documentation>?????????????????? ????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:element name="MeteringDeviceRootGUID" type="metering-device-base:MeteringDeviceGUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="MeteringDeviceVersionGUID" type="metering-device-base:MeteringDeviceGUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ???????????? ????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:choice>
                    <xs:element name="OneRateDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ???? (???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="3" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="metering-device-base:OneRateMeteringValueType">
                                  <xs:sequence>
                                    <xs:element name="DateValue" type="xs:date">
                                      <xs:annotation>
                                        <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="ControlValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="metering-device-base:OneRateMeteringValueType">
                                  <xs:sequence>
                                    <xs:element name="DateValue" type="xs:date">
                                      <xs:annotation>
                                        <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ?????????????? ???????? ???????????????????????? ?? ???????????? ???????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="SealDate" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="3" name="StartValue" type="metering-device-base:OneRateMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="3" name="EndValue" type="metering-device-base:OneRateMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ElectricDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ???? (?????????????????????????? ??????????????)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="metering-device-base:ElectricMeteringValueType">
                                  <xs:sequence>
                                    <xs:element name="DateValue" type="xs:date">
                                      <xs:annotation>
                                        <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="metering-device-base:ElectricMeteringValueType">
                                  <xs:sequence>
                                    <xs:element name="DateValue" type="xs:date">
                                      <xs:annotation>
                                        <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ?????????????? ???????? ???????????????????????? ?? ???????????? ???????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="SealDate" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StartValue" type="metering-device-base:ElectricMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndValue" type="metering-device-base:ElectricMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMeteringDeviceValuesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportMeteringDeviceHistoryRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????? ?? ?????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element maxOccurs="100" name="MeteringDeviceType" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????? ?????????????? ?????????? (?????? 27)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MunicipalResource" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ???????????? (?????? 2)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MeteringDeviceRootGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="CommissioningDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CommissioningDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SerchArchived" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?????????????????? "??"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?????????????????? "????"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportMeteringDeviceHistoryResult">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?????????????????? ?? ?????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportMeteringDeviceHistoryResult" type="tns:exportMeteringDeviceHistoryResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute fixed="11.0.0.6" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportMeteringDeviceHistoryResultType">
    <xs:sequence>
      <xs:element name="MeteringDeviceRootGUID" type="metering-device-base:MeteringDeviceGUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="OneRateDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????/?????????????? ????????; ????????; ???????????????? ??????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="BaseValue" type="metering-device-base:OneRateMeteringValueType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:OneRateMeteringValueKindType">
                      <xs:sequence>
                        <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ElectricDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaseValue" type="metering-device-base:ElectricMeteringValueType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:ElectricMeteringValueKindType">
                      <xs:sequence>
                        <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="ArchivedValues">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????????????????? ????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ArchivingReason" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????????????? ??????????????????. ???????????? ???? ?????? "?????????????? ?????????????????? ?????????????? ??????????" (???????????????????? ?????????? 21).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="exportMeteringDeviceHistoryResult" type="tns:exportMeteringDeviceHistoryResultType" />
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>