GisGkhLibrary/Connected Services/AppealsServiceAsync/hcs-appeals-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:account-base="http://dom.gosuslugi.ru/schema/integration/account-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/appeals/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:individual-registry-base="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:bills-base="http://dom.gosuslugi.ru/schema/integration/bills-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/appeals/" version="13.0.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-bills-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/bills-base/" />
  <xs:import schemaLocation="../lib/hcs-account-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/account-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-individual-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/individual-registry-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" />
  <xs:element name="exportAppealRequest">
    <xs:annotation>
      <xs:documentation source="?????????????? ??????????????????">???????????? ???? ?????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:choice>
              <xs:sequence>
                <xs:element maxOccurs="1000" name="AppealGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ?????????????????? ?? ?????????????? ?????? ??????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:choice>
                <xs:annotation>
                  <xs:documentation>???? ????????????-?????????????????? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:element maxOccurs="1000" name="AppealNumber" type="tns:AppealNumberType">
                  <xs:annotation>
                    <xs:documentation>?????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:sequence>
                  <xs:element minOccurs="0" name="StartDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ?????????????????? - ???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="EndDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ?????????????????? - ?????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="AppealTheme" type="nsi-base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????? ?????????????????? (?????? 220)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="StatusOfAppeal">
                    <xs:annotation>
                      <xs:documentation>???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" fixed="true" name="NotSent" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>???? ???????????????????? (?????????????? ???? ???????????????????????? ?? ?????????????? - ??????????????????, ?????????????? ???????????? "???? ????????????????????", ???? ????????????????????????????)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" fixed="true" name="Sent" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>????????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" fixed="true" name="InWork" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?? ????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" fixed="true" name="Executed" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" fixed="true" name="Withdrawn" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:choice>
              <xs:choice>
                <xs:annotation>
                  <xs:documentation>???? ????????????-?????????????????? ???????????? ???? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:element maxOccurs="1000" name="AnswerGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:sequence>
                  <xs:element minOccurs="0" name="StartCreateDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ???????????? ???? ?????????????????? - ???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="EndCreateDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ???????????? ???? ?????????????????? - ?????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="StartPostDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ???????????? ???? ?????????????????? - ???????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="EndPostDate" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>???????? ???????????????? ???????????? ???? ?????????????????? - ?????????? ??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:choice>
            </xs:choice>
            <xs:element minOccurs="0" fixed="true" name="IncludeHCSAppeals" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? "???????????????? ?? ?????????????? ??????????????????, ???????????????????????????? ?????? ??????" (?????? ???????????????? ???? ????????????-?????????????????? ?????????????????? ?????? ????????????) </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="12.2.0.11" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportAppealResult">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="Appeal" type="tns:exportAppealResultType">
              <xs:annotation>
                <xs:documentation>??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute fixed="12.2.0.11" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportAppealResultType">
    <xs:annotation>
      <xs:documentation> ?????? ???????????????????? ???????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AppealGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????? ?? ?????????????? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ParentAppealGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicantInfo">
        <xs:annotation>
          <xs:documentation>?????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ApplicantType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="AppealNumber" type="tns:AppealNumberType">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppealCreateDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="AppealTopic" type="nsi-base:nsiRef">
          <xs:annotation>
            <xs:documentation>???????? ?????????????????? (?????? 220)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AnotherTopic">
          <xs:annotation>
            <xs:documentation>???????????? ???????? ??????????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="250" />
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="FIASHouseGuid" type="premises-base:FIASHouseGUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="base:OKTMORefType">
        <xs:annotation>
          <xs:documentation>?????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppealText" type="tns:String10000Type">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AnswererGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppealHistory">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Organization" type="organizations-registry-base:RegOrgType">
              <xs:annotation>
                <xs:documentation>??????????????????????, ?????????????????????? ???????????????? ???? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ChangeDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? (???????????????????? ????????????????)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0">
              <xs:element name="Answer">
                <xs:annotation>
                  <xs:documentation>???????????????? ???? ???????????? ???? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:AnswerInfoType">
                      <xs:sequence>
                        <xs:element minOccurs="0" fixed="true" name="AnswerIsSent" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Redirected">
                <xs:annotation>
                  <xs:documentation>?????????????????? ????????????????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Receiver">
                      <xs:annotation>
                        <xs:documentation>?????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="organizations-registry-base:RegOrgType" />
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Comment" type="tns:String1000Type">
                      <xs:annotation>
                        <xs:documentation>??????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ??????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="AnswererGUID" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RolledOver">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????? ???????????????????????? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:RollOverAppealType" />
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="IsNotRequired">
                <xs:annotation>
                  <xs:documentation>?????????? ???? ?????????????????? ???? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Cause" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>??????????????, ???? ?????????????? ?????????? ???? ?????????????????? ???? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Assesment">
                <xs:annotation>
                  <xs:documentation>???????????? ???????????????????? ??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element fixed="true" name="InformationIsReceived" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????????????? ???????????????????? ????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:sequence>
                      <xs:choice>
                        <xs:element fixed="true" name="AnswerIsPartlyReceived" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????????????? ???????????????????? ???????????????? ????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element fixed="true" name="AnswerIsNotSatisfied" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????? ???? ????????????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:choice>
                      <xs:element name="DeclineComment" type="tns:String1000Type">
                        <xs:annotation>
                          <xs:documentation>??????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AppealStatus" type="tns:AppealStatusType">
        <xs:annotation>
          <xs:documentation>???????????? ??????????????????
Send -???????????????????? /???????????????? 
Executed - ?????????????????? Withdrawn - ???????????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element minOccurs="0" fixed="true" name="Redirected" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>???????????????????????????? ?? ???????????? ??????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" fixed="true" name="RedirectedIsNotHCS" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>???????????????????????????? ?? ??????????????????????, ???? ???????????????????????????????????? ?? ?????? ??????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" fixed="true" name="RolledOver" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ???????? ????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" fixed="true" name="AnswerIsNotRequired" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????? ???? ?????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AppealWithdrawn">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????? ????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Comment" type="tns:String1000Type">
              <xs:annotation>
                <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importAnswerRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ???? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="AnswerAction">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ???????????????? ???? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:choice>
                      <xs:element name="AppealGUID" type="base:GUIDType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ?????????????????? ?? ?????????????? ?????? ??????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="AppealNumber" type="tns:AppealNumberType">
                        <xs:annotation>
                          <xs:documentation>?????????? ??????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Answer">
                    <xs:annotation>
                      <xs:documentation>?????????? ???? ??????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="base:TransportGUID" />
                        <xs:element minOccurs="0" name="AnswerGUID" type="base:GUIDType">
                          <xs:annotation>
                            <xs:documentation>?????????????????????????? ????????????. ?????????????????????? ?????? ?????????????????? ?????????? ???????????????????? ????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="AnswererGUID" type="base:GUIDType">
                          <xs:annotation>
                            <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:choice>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="LoadAnswer">
                              <xs:annotation>
                                <xs:documentation>???????????????? / ??????????????????  ????????????</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="AnswerText" type="tns:String10000Type">
                                    <xs:annotation>
                                      <xs:documentation>?????????? ????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
                                    <xs:annotation>
                                      <xs:documentation>?????????????????????????? ??????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" fixed="true" name="SendAnswer" type="xs:boolean">
                              <xs:annotation>
                                <xs:documentation>???????????????? ????????????</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                          <xs:element fixed="true" name="DeleteAnswer" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>???????????????? ????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="AppealAction">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:choice>
                    <xs:element name="AppealGUID" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????? ?? ?????????????? ?????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AppealNumber" type="tns:AppealNumberType">
                      <xs:annotation>
                        <xs:documentation>?????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Performer">
                      <xs:annotation>
                        <xs:documentation>??????????????????/ ???????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AnswererGUID" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="DateOfAppointment" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????????????? ???????? ????????????????????
?????????????????????? ?????? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Executed">
                      <xs:annotation>
                        <xs:documentation>???????????????????? ?????? ?????????????????? ???????????? "??????????????????"</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AnswererGUID" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="RedirectAppeal">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????? ???????????? ??????????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:RedirectAppealType" />
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="RollOverAppeal">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ?????????? ???????????????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:RollOverAppealType" />
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="AnswerIsNotRequired">
                      <xs:annotation>
                        <xs:documentation>?????????? ???? ?????????????????? ???? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Cause" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>??????????????, ???? ?????????????? ?????????? ???? ?????????????????? ???? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="AnswererGUID" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="12.2.0.13" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importAppealAnswer_TransportGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ?????????????????????????? ???????????????????????????? ?? ???????????? ??????????????</xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAppealAnswer_AppealGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????????????????????? ?????????????????? ?? ???????????? AppealAnswer</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:AnswerAction/tns:AppealGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAppealAction_AppealGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????????????????????? ?????????????????? ?? ???????????? AppealAction</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:AppealAction/tns:AppealGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAppealAnswer_AppealNumberKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????? ?????????????????? ?? ???????????? AppealAnswer</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:AnswerAction/tns:AppealNumber" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAppealAnswer_AnswerGUID">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????? ?????????????????? ?? ???????????? AppealAnswer</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:AnswerAction/tns:Answer/tns:AnswerGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importAppealAction_AppealNumberKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????? ?????????????????? ?? ???????????? AppealAction</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:AppealAction/tns:AppealNumber" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="ExportAppealResult" type="tns:exportAppealResultType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="12.2.0.5" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AppealAnswerType">
    <xs:annotation>
      <xs:documentation>?????????? ???? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????????????. ?????????????????????? ?????? ?????????????????? ?????????? ???????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnswerText" type="tns:String10000Type">
        <xs:annotation>
          <xs:documentation>?????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnswererGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnswerInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerNumber" type="tns:AnswerNumberType">
        <xs:annotation>
          <xs:documentation>?????????? ???????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SendAnswerDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ???????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Answerer">
        <xs:annotation>
          <xs:documentation>???????? - ?????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AnswererGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AnswerText" type="tns:String10000Type">
        <xs:annotation>
          <xs:documentation>?????????? ???????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppealInfoType">
    <xs:annotation>
      <xs:documentation>??????????????????</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>??????????????????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:choice>
          <xs:element name="Person">
            <xs:annotation>
              <xs:documentation>???????????????????? ????????</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="tns:PersonType" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="Org" type="organizations-registry-base:RegOrgType">
            <xs:annotation>
              <xs:documentation>???????????? ???? ???????????? ??????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element minOccurs="0" name="PostAddress" type="tns:String100Type">
          <xs:annotation>
            <xs:documentation>???????????????? ??????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ApartmentNumber" type="tns:PremisesNumType">
          <xs:annotation>
            <xs:documentation>?????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Email" type="tns:String100Type">
          <xs:annotation>
            <xs:documentation>?????????????????????? ??????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PhoneNumber">
          <xs:annotation>
            <xs:documentation>?????????? ????????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:element fixed="true" name="HCS" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????????? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AnswererType">
    <xs:annotation>
      <xs:documentation>????????-?????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="tns:String256Type">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="tns:String256Type">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Patronymic" type="tns:String256Type">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Post" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnswererInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ?????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Organization" type="organizations-registry-base:RegOrgType">
        <xs:annotation>
          <xs:documentation>?????????????????????? - ?????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???????? - ?????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Surname" type="tns:String100Type">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="tns:String100Type">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Patronymic" type="tns:String100Type">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RedirectAppealType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Receiver">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="organizations-registry-base:RegOrgType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Comment" type="tns:String1000Type">
        <xs:annotation>
          <xs:documentation>??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnswererGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RollOverAppealType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutionDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? (??????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="tns:String1000Type">
        <xs:annotation>
          <xs:documentation>??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnswererGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="String100Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 100 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String255Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 255 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String256Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 256 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="256" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1000Type">
    <xs:annotation>
      <xs:documentation>?????????????????? ??????. ???????????? ???? ?????????? 1000 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String10000Type">
    <xs:annotation>
      <xs:documentation> ?????????????????? ??????. ???????????? ???? ?????????? 10 000 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnswerNumberType">
    <xs:annotation>
      <xs:documentation>?????????? ???????????? ???? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AppealNumberType">
    <xs:annotation>
      <xs:documentation>?????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AppealStatusType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????. Send - ????????????????????/????????????????, Executed - ??????????????????, Withdrawn - ????????????????, InWork - ?? ????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Send" />
      <xs:enumeration value="Executed" />
      <xs:enumeration value="Withdrawn" />
      <xs:enumeration value="InWork" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PremisesNumType">
    <xs:annotation>
      <xs:documentation>?????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>